<div ng-controller="NuevoUsuarioController as nuevoUsuarioCtrl" id="nuevo-usuario">
    <div id="nuevo-usuario-titulo" class="nuevo-usuario-title">
        <div>Nuevo Usuario:</div>
    </div>
    <div class="contenedor-nuevo-usuario">
        <div id="nuevo-usuario-form" form-id="nuevo_usuario">
            <h1>Primera vez?</h1> <br>
            <p>Completá los campos solicitados para poder hacerte usuario de nuestra página y acceder a todas nuestras
                secciones!</p>
            <div class="nuevo-usuario-inputs">
                <div class="nuevo-usuario-input"><span>Nombre</span>
                    <input ac-validator min-length="3;El nombre debe tener al menos 3 letras"
                           max-length="100;El nombre no debe tener mas de 100 letras"
                           type="text" id="nombre"
                           ng-model="nuevoUsuarioCtrl.usuario.nombre">
                </div>
                <div class="nuevo-usuario-input"><span>Apellido</span>
                    <input ac-validator min-length="3;El apellido debe tener al menos 3 letras"

                           max-length="100;El apellido no debe tener mas de 100 letras"
                           type="text" id="apellido" ng-model="nuevoUsuarioCtrl.usuario.apellido">
                </div>
                <div class="nuevo-usuario-input"><span>DNI</span>
                    <input ac-validator is-cuit="El dato es incorrecto"
                           type="text" id="cuit" ng-model="nuevoUsuarioCtrl.usuario.nro_doc"></div>

                <div class="nuevo-usuario-input"><span>Telefono</span>
                    <input type="text" id="telefono" ng-model="nuevoUsuarioCtrl.usuario.telefono">
                </div>
                <div class="nuevo-usuario-input"><span>Contraseña</span>
                    <input ac-validator min-length="3;El password debe tener al menos 3 letras"
                           max-length="100;El password no debe tener mas de 100 letras"
                           type="password" id="password" ng-model="nuevoUsuarioCtrl.usuario.password">
                </div>
                <div class="nuevo-usuario-input"><span>Direccion</span>
                    <input type="text" id="direccion" ng-model="nuevoUsuarioCtrl.usuario.calle">
                </div>
                <div class="nuevo-usuario-input"><span>Mail</span>
                    <input ac-validator is-mail="El formato del mail es incorrecto" type="email" id="nuevo-mail"
                           ng-model="nuevoUsuarioCtrl.usuario.mail"></div>
                <!--<div class="nuevo-usuario-input"><span>CBU</span> <input type="cbu" id="cbu"-->
                <!--ng-model="nuevoUsuarioCtrl.usuario.cbu"></div>-->

                <!--<div class="nuevo-usuario-input">-->                <!--<span>ROL</span>-->
                <!--<select ng-model="nuevoUsuarioCtrl.usuario.rol_id">-->
                <!--<option value="0">Usuario</option>-->                <!--<option value="1">Administrador</option>-->
                <!--</select>-->                <!--</div>-->
            </div>
            <div id="legales-link" class="texto-legales">
                Al hacer clic en "Abrir una cuenta", aceptas y confirmas que leíste nuestras <a href=""
                                                                                                ng-click="nuevoUsuarioCtrl.showLegales = true;">Condiciones
                de uso</a> y que eres mayor de 18 años.
            </div>

            <div class="nuevo-usuario-button-bar">
                <button ac-validator ng-click="nuevoUsuarioCtrl.saveUsuario();">Abrir Cuenta</button>
                <button><a href="#/ingreso">Ya tengo usuario</a></button>
                <div style="width: 100px;">
                    <button class="facebook-log" ng-click="ingresoCtrl.loginFacebook();"></button>
                    <button class="google-log" ng-click="ingresoCtrl.loginGoogle();"></button>
                </div>
            </div>
        </div>
    </div>
    <div id="legales" ng-if="nuevoUsuarioCtrl.showLegales">
        <div id="legales-inner">

            <p><b>Terminos de uso</b></p><br>
            1. ¡Bienvenidos a MPS!<br>
            Esta página explica nuestros términos de uso. Cuando usted usa Mi Primer Sponsor está aceptando todas las
            normas que se especifican en esta página. Algunas normas se deben explicar en lenguaje jurídico, pero hemos
            hecho todo lo posible para ofrecerle explicaciones claras y sencillas de lo que significa cada cosa mediante
            estos breves resúmenes en cuadros azules. No obstante, debe tener en cuenta que estos resúmenes no forman
            parte de los términos legales oficiales.
            Bienvenido a Mi Primer Ssponsor, de ahora en mas denominado “MPS”. Al usar este sitio web (el "Sitio") y los
            servicios (de manera conjunta con el Sitio, los "Servicios") de MPS, PBC (denominados de manera conjunta con
            sus empresas matrices, filiales, afiliados, agentes, representantes, consultores, empleados, responsables y
            administradores, como "MPS" o "nosotros"), estará aceptando cumplir estas normas jurídicamente vinculantes
            (los "Términos").
            Es posible que de vez en cuando modifiquemos estos términos. Si lo hacemos, le avisaremos de los cambios
            significativos mediante un aviso en el Sitio o a través de un correo electrónico. Las nuevas versiones de
            los términos nunca se aplicarán de forma retroactiva y le informaremos de la fecha exacta en la que entrarán
            en vigor. Si sigue usando MPS después de una modificación, se considerará que acepta los nuevos términos.
            MPS es para uso personal no comercial, salvo en los casos especificados más adelante, en la sección 4 y la
            sección 5.<br>
            2. Acerca de la creación de una cuenta<br>
            Para registrarse y crear una cuenta en MPS debe ser mayor de 18 años. Usted es responsable de su cuenta y de
            toda la actividad de la misma.
            Puede navegar por MPS sin registrarse ni abrir una cuenta, pero para poder utilizar algunas de las funciones
            de MPS, deberá registrarse, elegir un nombre de usuario y definir una contraseña. La información que
            proporcione cuando lo haga debe ser veraz y completa. No suplante a otra persona ni escoja nombres ofensivos
            o que infrinjan los derechos de otra persona. Si no cumple estas normas, podremos cancelar su cuenta.
            Usted es responsable de toda la actividad de su cuenta y de mantener la confidencialidad de su contraseña.
            Si descubre que otra persona ha usado su cuenta sin su permiso deberá denunciarlo mediante un correo
            electrónico a administracion@miprimersponsor.com.
            Para crear una cuenta, tiene que tener al menos 18 años, o la edad legal para poder formalizar un contrato
            vinculante en su lugar de residencia. Si lo consideramos necesario, podremos solicitarle que demuestre su
            edad.<br>
            3. Cosas que no debe hacer bajo ningún concepto<br>
            Esta sección es una lista de cosas que usted probablemente ya sabe que no debería hacer, como mentir,
            incumplir la ley, maltratar o insultar a otras personas, robar datos, acceder ilegalmente a los ordenadores
            de otra
            Cientos de personas utilizan MPS. Esperamos de todas ellas que se comporten de forma responsable y hagan que
            este lugar sea agradable. No realice ninguna de estas acciones en el Sitio:
            No incumpla la ley. No realice ninguna acción que infrinja o viole los derechos de otras personas o que
            incumpla la ley o cualquier contrato o deber legal que usted tenga con cualquier persona.
            No mienta. No publique información que sepa que es falsa, engañosa o inexacta. No realice ninguna acción
            engañosa ni fraudulenta.
            No ofrezca artículos prohibidos. No ofrezca recoMPSnsas (esto lo inventaste vos Diego?? jaja ) ilegales que
            violen alguna de las políticas, normas o reglas de MPS o que incumplan leyes, decretos, ordenanzas o
            normativas vigentes.
            No acose a nadie. No realice ninguna acción que resulte amenazante, abusiva, acosadora, difamatoria,
            calumniosa, dolosa, ofensiva, soez o invasiva para la privacidad de otra persona.
            No envíe correo no deseado. No distribuya material publicitario o promocional no solicitado o no autorizado,
            correo basura, correo no deseado ni cadenas de mensajes. No ejecute listas de correo, servidores de listas o
            cualquier tipo de servicio de respuesta automático o de correo electrónico no deseado en el Sitio o a través
            del mismo.
            No dañe ordenadores ajenos. No envíe virus de software ni otros elementos (código, películas, programas)
            diseñados para interferir en el funcionamiento correcto de ningún software, hardware o equipo del Sitio
            (tanto si pertenece a MPS como si es de un tercero).
            No realice un mal uso de la información personal de otros usuarios. Cuando use MPS, y especialmente si crea
            un proyecto que consigue toda la financiación necesaria, es posible que reciba información de otros
            usuarios, como el nombre, la dirección de correo electrónico y la dirección postal. Esta información se
            proporciona con el único fin de participar en un proyecto de MPS: no la use con otros fines ni de forma
            ilícita.
            También tenemos que asegurarnos de que el Sitio es seguro y de que nuestros sistemas funcionan
            correctamente. Así que no realice ninguna de estas acciones, lo que equivale a decir "no estropee nuestro
            sistema".<br>
            No trate de interferir en el correcto funcionamiento de los Servicios.
            No sortee las medidas que hemos puesto en práctica para proteger los Servicios.
            No trate de dañar ni conseguir un acceso no autorizado a ningún sistema, datos, contraseñas ni ninguna otra
            información, tanto si pertenecen a MPS como si son propiedad de un tercero.
            No realice ninguna acción que imponga una carga no razonable a nuestra infraestructura o a nuestros
            proveedores. (Nos reservamos el derecho a determinar qué es razonable.)
            No use ningún tipo de software ni dispositivo (ni manual ni automático) para "rastrear" cualquier parte del
            Sitio.
            No desmonte ni realice ingeniería inversa en ningún aspecto de MPS para tratar de acceder al código fuente,
            las ideas fundamentales o los algoritmos, entre otros elementos.<br>
            4. Funcionamiento de los proyectos<br>
            La mayoría de nuestros Términos de uso explican su relación con MPS. Esta sección es diferente, ya que
            explica la relación entre los creadores y los patrocinadores de los proyectos de MPS y las responsabilidades
            de cada una de la
            MPS proporciona una plataforma de financiación de proyectos creativos. Cuando un creador publica un proyecto
            en MPS está invitando a otras personas a formalizar un contrato con él. Cualquier persona que patrocine un
            proyecto está aceptando la oferta del creador y, por tanto, dicho contrato.
            MPS no es una de las partes de este contrato. El contrato es un acuerdo jurídico directo entre los creadores
            y sus patrocinadores. Estos son los términos que rigen dicho acuerdo:
            Cuando un proyecto recibe toda la financiación que necesita el creador debe llevar a cabo el proyecto y
            entregar todas las recompensas. Una vez que el creador lo hace, se considerará que ya ha satisfecho sus
            obligaciones con sus patrocinadores.
            A lo largo de todo el proceso, los creadores deben a sus patrocinadores un elevado nivel de esfuerzo,
            sinceridad en la comunicación y su dedicación para que el proyecto llegue a buen término. Al mismo tiempo,
            los patrocinadores tienen que entender que, cuando patrocinan un proyecto, están ayudando a crear algo
            nuevo,o la mejora de algo existente. Pueden producirse cambios o retrasos, y existe la posibilidad de que
            ocurra algo que impida al creador terminar el proyecto según lo prometido.
            Si un creador no puede finalizar su proyecto y entregar las recoMPSnsas, se considerará que ha incumplido
            sus obligaciones básicas de conformidad con el presente acuerdo. Para subsanar esta situación, deberá
            realizar todos los esfuerzos posibles para encontrar otra manera de lograr la mejor conclusión posible del
            proyecto para los patrocinadores. Un creador que se encuentre en esta situación solo habrá subsanado la
            situación y satisfecho sus obligaciones con los patrocinadores si:
            publica una actualización que explique qué parte del trabajo se ha realizado, cómo se han empleado los
            fondos y qué le impide finalizar el proyecto según estaba previsto;
            trabaja de forma diligente y de buena fe para llevar el proyecto a la mejor conclusión posible en un plazo
            de tiempo comunicado a los patrocinadores;
            puede demostrar que ha empleado los fondos de la forma más apropiada y que ha realizado todo el esfuerzo
            posible para finalizar el proyecto según lo prometido;
            ha sido sincero y no ha realizado ninguna afirmación falsa en sus comunicaciones con sus patrocinadores; y
            ofrece devolver los fondos restantes (si los hubiere) a los patrocinadores que no hayan recibido su
            recoMPSnsa (proporcionalmente a los importes de cada contribución) o bien les explica cómo se emplearán esos
            fondos para finalizar el proyecto de manera alternativa.
            El creador es el único responsable de cumplir sus promesas en todo lo referente a su proyecto. Si no puede
            cumplir los términos de este acuerdo, estará sujeto a las acciones legales que puedan emprender los
            patrocinadores desligando de toda responsabilidad a MPS habiendo actuado de canal de comunicacion y hecho en
            calidad de buena fé.<br>
            5. Funcionamiento de la financiación<br>
            Esta sección explica los detalles del patrocinio y la creación de los proyectos: cosas como el proceso de
            recaudación de fondos, si se pueden modificar o cancelar las contribuciones y cómo pueden ponerse en
            contacto los creadores con los patrocinadores para hacerles llegar su recoMPSnsa.
            Estos son los términos que aplican al patrocinio de un proyecto:<br>
            Se cobra la contribución si el proyecto alcanza su objetivo de financiación de forma parcial o total. Usted
            indicará sus datos de pago cuando realice su contribución, pero no se le cobrará importe alguno. Su pago se
            cobrará cuando llegue la fecha límite de financiación, el proyecto ha alcanzado su objetivo de recaudación
            de forma total o parcial. El importe exacto que usted se ha comprometido a aportar es el importe que le
            cobrará MPS.
            En algunos casos nos reservaremos el cargo de su tarjeta. MPS y sus entidades de pago asociadas pueden
            autorizar o reservar un cargo en su tarjeta de crédito (o cualquier otro método que pago que use) por
            cualquier importe hasta la contribución total, en cualquier momento entre su compromiso de contribución y la
            recaudación de los fondos.
            La fecha de entrega aproximada es una estimación del creador. La fecha indicada en cada recoMPSnsa es una
            estimación del creador sobre cuándo podrá entregarla, no una garantía de cumplimiento de dicho plazo. Esta
            estimación puede cambiar a medida que el creador trabaja en el proyecto. Pedimos a los creadores que
            determinen una fecha que consideren que van a poder cumplir sin problemas y que comuniquen a los
            patrocinadores cualquier cambio que se pueda producir.
            Es posible que el creador necesite enviarle alguna pregunta en relación con su recoMPSnsa. Para poder
            enviarle sus recoMPSnsas, el creador puede necesitar información sobre usted, como su dirección postal o su
            talla de camiseta. Le solicitará dicha información si la campaña tiene éxito. Para recibir la recoMPSnsa
            deberá proporcionarle la información en un plazo de tiempo razonable.
            MPS no realiza reembolsos. La responsabilidad de finalizar un proyecto es exclusiva del creador del
            proyecto. MPS no retiene fondos en nombre del creador, no puede garantizar el trabajo del creador y no
            ofrece reembolsos.
            Estos son los términos que aplican a la creación de un proyecto:<br>
            Puede reembolsar contribuciones individuales, si lo desea. Una vez que el proyecto ha recibido la
            financiación necesaria, puede cancelar y reembolsar en cualquier momento la contribución de un patrocinador.
            Si lo hace, ya no tendrá ninguna obligación con dicho patrocinador y el acuerdo entre ustedes quedará
            rescindido.
            Nosotros cobraremos nuestra comisión antes de depositar los fondos en su cuenta.MPS y sus entidades de pago
            asociadas deducirán sus comisiones antes de transferir las ganancias de una campaña.
            Algunas contribuciones no se pueden llegar a cobrar, lo cual puede reducir la cantidad de financiación que
            usted obtendrá. Puesto que algunos pagos no pueden llegar a cobrarse, por ejemplo cuando caduca la tarjeta
            de crédito de un patrocinador antes de que termine el plazo de financiación y este no proporciona
            información actualizada, nosotros no podemos garantizar que la cantidad de financiación que usted recibirá
            equivaldrá a la suma total de las contribuciones menos las comisiones.
            Te ayudamos resolver disputas acerca de cargos efectuados a tarjetas. Si un patrocinador de tu proyecto
            disputa los cargos efectuados ante el emisor de su tarjeta, MPS se encarga de negociar la anulación del
            reembolso. Te notificaremos cuando se presenta una disputa para darte la oportunidad de proveer pruebas que
            puedan ayudarnos a resolver el asunto a tu favor. Si se encontrara valida la disputa del tarjetahabiente, se
            deduciría el monto correspondiente a la contribución del patrocinador de la tarjeta que registraste al
            comenzar tu proyecto.
            No haga castillos en el aire. No dé por sentado que podrá iniciar su proyecto cuando usted quiere; es
            posible que por algún motivo no podamos aceptarlo o que se produzca un problema que se tarde en resolver. No
            dé por sentado que podrá recibir de forma inmediata su financiación; puede producirse un retraso entre la
            finalización de una campaña que alcanza su objetivo de financiación y su acceso a los fondos. Y no realice
            ninguna acción que dependa de la obtención del dinero de las contribuciones hasta que realmente pueda
            retirarlo de su cuenta y gastarlo.
            6- Qué no hacemos y de qué no somos responsables<br>
            Nosotros no supervisamos los proyectos y no mediamos en las disputas entre los usuarios.<br>
            evelados y no revelados, derivados de dichas controversias y de los Servicios, o de cualquier manera
            relacionados con ellos. Cuando accede a contenido a través de los Servicios, lo hace por su cuenta y riesgo.
            Usted es el único responsable de cualquier daño o pérdida que se produzca, para cualquiera de las partes,
            como resultado de dicho acceso.<br>
            7. Nuestra comisión<br>
            Cobramos nuestra comisión a los proyectos que alcanzan su objetivo de financiación total o parcialmente.
            Cobramos un x % de comisión, a la que se añaden las comisiones que puedan cobrar nuestras entidades de pago
            asociadas.
            Crear una cuenta en MPS es gratis. Si crea un proyecto que alcanza la financiación necesaria, nosotros (y
            nuestras entidades de pago asociadas) le cobraremos una comisión. Las comisiones de nuestras entidades de
            pago asociadas pueden variar ligeramente en función de su ubicación geográfica.
            No le cobraremos ninguna comisión sin darle antes la opción de revisarla y aceptarla. Si modificamos
            nuestras comisiones, lo anunciaremos en nuestro Sitio. Algunos de los fondos aportados por los
            patrocinadores se recaudan a través de proveedores de pago. Cada proveedor de pago es una entidad propia y
            MPS no es responsable de su actuación.
            Usted es responsable de abonar cualquier comisión o tasa adicional derivada de su uso de MPS.<br>
            8. Otros sitios web<br>
            Si usted sigue un enlace a otro sitio web, las acciones que se produzcan allí serán entre usted y ellos, no
            nosotros.
            MPS puede contener enlaces a otros sitios web; por ejemplo, las páginas de los proyectos, los perfiles de
            usuario y los comentarios pueden contener enlaces a otros sitios web. Cuando usted accede a sitios web de
            terceros, lo hace por su cuenta y riesgo. Nosotros no controlamos ni avalamos dichos sitios web.
            MPS se asocia con otras compañías, como Mercadopago, para el procesamiento de los pagos. Cuando usted
            patrocina o crea un proyecto, está aceptando los términos de servicio del procesador de los pagos.<br>
            9. Su propiedad intelectual<br>
            Nosotros no somos propietarios de lo que usted publica en MPS. No obstante, cuando usted realiza alguna
            publicación, nos estará dando permiso para usar su contenido, o copiarlo, según necesitemos para hacer
            funcionar el sitio o para mostrar a la gente qué está pasando en él. Normalmente solo lo usamos para
            promocionar proyectos y para promocionar a nuestra comunidad en el sitio web. Usted será responsable del
            contenido que publique y confirma que podemos usarlo.
            MPS no es propietaria del contenido que usted nos envíe (su "Contenido"), pero necesitamos que nos conceda
            ciertas licencias para poder prestar nuestros Servicios. Cuando envía un proyecto para su revisión o cuando
            crea un proyecto, acepta los siguientes términos:
            Podemos usar el contenido que ha enviado. Nos concede, a nosotros y a terceros que actúen en nuestro nombre,
            el derecho mundial, no exclusivo, perpetuo, irrevocable, exento de regalías, sublicenciable y transferible,
            de usar, ejercer, comercializar y explotar los derechos de propiedad intelectual, publicidad y marcas
            relativos a su Contenido.
            Cuando utilicemos el contenido, podemos realizar cambios, como editarlo o traducirlo.Nos concede el derecho
            a editar, modificar, cambiar el formato,citar, eliminar o traducir cualquier parte de su Contenido.<br>
            No enviará material cuyos derechos de propiedad intelectual no ostente (a menos que tenga permiso para
            hacerlo). Su contenido no contendrá material de terceros protegido por derechos de propiedad intelectual ni
            material sujeto a otros derechos de terceros, a menos que tenga permiso del titular legítimo de los derechos
            del material o bien tenga derecho lícito a publicar el material (y a conceder a MPS todos los derechos de
            licencia indicados en el presente).
            Los royalties o derechos de licencia sobre su Contenido son su responsabilidad. Usted abonará todas los
            royalties y cualquier importe adeudado a cualquier persona o entidad por su Contenido o por el alojamiento
            de dicho Contenido en MPS.
            Garantiza que si utilizamos su Contenido no estaremos infringiendo los derechos de propiedad intelectual ni
            ningún otro tipo de derecho. Si MPS o sus usuarios explotan o utilizan su material según lo contemplado en
            el presente acuerdo, usted garantiza que no estaremos incurriendo en una infracción de los derechos de
            ningún tercero, incluidos, entre otros, los derechos de protección de datos de carácter personal, derechos
            de publicidad, derechos de propiedad intelectual, derechos contractuales o cualquier otro derecho de
            propiedad o propiedad industrial.
            Es responsable del material que publica. Toda la información enviada al Sitio, tanto si se publica de forma
            pública como si se transmite de forma privada, es responsabilidad exclusiva de la persona que creó dicho
            contenido.
            Nosotros no somos responsables de los posibles errores que pueda haber en su contenido. MPS no será
            responsable de ningún error ni omisión presente en ningún contenido.<br>
            10. Propiedad intelectual e Industrial de MiPrimerSponsor (MPS)<br>
            El contenido presente en MPS está protegido de varias maneras. Usted tiene derecho a usarlo con ciertos
            fines personales, pero no lo puede usar con fines comerciales sin obtener permiso previo.
            Los servicios de MPS están protegidos jurídicamente de varias maneras, como mediante derechos de propiedad
            intelectual, marcas, patentes y secretos comerciales, así como otros derechos y leyes. Usted acepta respetar
            todas las menciones, datos y restricciones legales sobre derechos de propiedad intelectual incluidos en
            cualquier contenido al que se acceda a través del Sitio. También acepta no modificar, traducir ni crear de
            ninguna otra manera obras derivadas del Servicio.
            MPS le concede una licencia para reproducir contenido de los Servicios únicamente para uso personal. Esta
            licencia cubre tanto el contenido protegido propio de MPS como el contenido generado por los usuarios del
            Sitio. Esta licencia es mundial, no exclusiva, no sublicenciable e intransferible. Si usted desea usar,
            reproducir, modificar, distribuir o almacenar este contenido con fines comerciales, necesita obtener la
            autorización previa por escrito de MPS o del titular del derecho de propiedad intelectual correspondiente.
            "Fines comerciales" significa que usted tiene la intención de usar, vender, ceder, alquilar o explotar de
            cualquier otra forma, contenido para su uso comercial mediante cualquier método.<br>
            11. Gestión de los problemas de copyright ( vamos a registrar marca y adaptarla aun texto local)<br>
            En MPS, cumplimos la Digital Millenium Copyright Act (Ley de Estados Unidos sobre Copyright en el Milenio
            Digital). Para obtener más información sobre cómo gestionamos las denuncias de infracción de los derechos de
            copyright, consulte nuestra Política de derechos de propiedad intelectual.
            La Digital Millenium Copyright Act (Ley de Estados Unidos sobre Copyright en el Milenio Digital) establece
            un sistema de requisitos jurídicos para gestionar las alegaciones de infracción de derechos de propiedad
            intelectual. En MPS cumplimos la DMCA y respondemos a las denuncias de supuestas infracciones si estas se
            realizan de conformidad con la legislación y los requisitos indicados en nuestra Política de derechos de
            propiedad intelectual. Nos reservamos el derecho a eliminar o deshabilitar contenido supuestamente infractor
            y a rescindir las cuentas de los infractores reincidentes. Esto lo hacemos cuando lo consideramos apropiado
            a nuestro exclusivo criterio.
            Si desea denunciar una infracción de derechos de propiedad intelectual, consulte nuestra Política de
            derechos de propiedad intelectual. Nuestro encargado de tramitar las denuncias de supuestas violaciones de
            los derechos de autor es:<br>
            12. Eliminación de su cuenta<br>
            Puede eliminar su cuenta en cualquier momento. No obstante, la eliminación de su cuenta no eliminará el
            contenido que usted ya haya publicado.
            Puede cerrar su cuenta en cualquier momento, pero todas las cláusulas del presente acuerdo seguirán teniendo
            vigencia tras la cancelación de la cuenta, incluidos nuestros derechos relativos a cualquier contenido que
            usted ya haya enviado al Sitio. Por ejemplo, si usted ha creado un proyecto, la eliminación de su cuenta no
            implicará la retirada del proyecto del Sitio.
            13. Nuestros derechos<br>
            Para poder funcionar, necesitamos mantener el control sobre todo lo que ocurre en nuestro sitio web. Por
            eso, en esta sección nos reservamos el derecho a tomar decisiones para proteger la solidez y la integridad
            de nuestro sistema. No nos tomamos estas coMPStencias ( esta es cualquier Diego, dejamos la de recompensas
            pero esta no) a la ligera, y solo las usaremos cuando no tengamos otra alternativa.
            MPS se reserva los derechos siguientes:
            Podemos realizar cambios en el Sitio y los Servicios de MPS sin avisar y sin incurrir en ningún tipo de
            responsabilidad.
            Tenemos derecho a decidir quién puede utilizar MPS. Podemos cancelar cuentas o rehusar ofrecer nuestros
            Servicios, especialmente si se está haciendo mal uso de ellos. Podemos modificar nuestros criterios de
            aceptación en cualquier momento. Si estas prácticas están prohibidas por ley en su lugar de residencia,
            revocaremos su derecho a usar MPS en su jurisdicción.
            Tenemos derecho a cancelar cualquier contribución a cualquier proyecto, en cualquier momento y por cualquier
            motivo.
            Tenemos derecho a rechazar, cancelar, interrumpir, eliminar o suspender cualquier proyecto, en cualquier
            momento y por cualquier motivo.
            MPS no es responsable de daños derivados de ninguna de estas acciones, y nuestra política es no realizar
            comentarios sobre los motivos de dichas acciones.<br>
            14. Exclusión de garantía<br>
            Nos esforzamos por prestarle magníficos servicios, pero no podemos garantizar que todo funcione siempre de
            forma perfecta. Este sitio se presenta tal cual, sin ninguna garantía.
            Usted usa los Servicios por su cuenta y riesgo. Los servicios se le proporcionan "tal cual", "según
            disponibilidad" y sin garantías de ningún tipo, ni explícitas ni implícitas.
            MPS RENUNCIA ESPECÍFICAMENTE A CUALQUIER GARANTÍA Y CONDICIÓN DE COMERCIABILIDAD, INEXISTENCIA DE INFRACCIÓN
            E IDONEIDAD PARA UN FIN ESPECÍFICO, ASÍ COMO A CUALQUIER GARANTÍA IMPLÍCITA QUE PUDIERA EXTRAERSE DE UNA
            ACTUACIÓN EN EL TRANSCURSO DE LAS OPERACIONES, DEL FUNCIONAMIENTO O DE USOS COMERCIALES. NINGUNA
            RECOMENDACIÓN NI INFORMACIÓN (VERBAL O ESCRITA) QUE USTED HAYA OBTENIDO DE MPS CONSTITUIRÁ UNA GARANTÍA.
            15. Indemnización<br>
            Si usted realiza en MPS cualquier acción que tenga como consecuencia que nosotros seamos demandados, es su
            obligación ayudarnos a defendernos.
            Si realiza alguna acción que tiene como consecuencia que nosotros seamos demandados, o si incumple alguna de
            las promesas que realiza en el presente acuerdo, acepta defendernos, indemnizarnos y eximirnos de cualquier
            responsabilidad, solicitud de indemnización y gasto (incluidos los honorarios de los abogados y las costas
            judiciales, hasta un importe razonable) derivados de su uso, o mal uso, de MPS, o relacionados con su uso, o
            mal uso, de MPS. Nos reservamos el derecho a asumir la defensa y el control exclusivos de cualquier asunto
            sujeto a esta cláusula de indemnización, en cuyo caso usted se compromete a cooperar y ayudarnos a reafirmar
            nuestra defensa.
            16. Limitación de responsabilidad<br>
            Si ocurre algo malo como resultado de su uso de MPS, nosotros no nos haremos responsables de ello (salvo en
            pequeñas cantidades).
            En la medida máxima permitida por la ley, en ningún caso MPS, sus administradores, empleados, socios,
            proveedores o proveedores de contenido serán responsables de daños indirectos, fortuitos, punitivos,
            derivados, especiales o ejemplares de ningún tipo, incluidos, aunque sin limitarse a ellos, los daños (i)
            resultantes de su acceso a los Servicios, o uso de los Servicios, o de la imposibilidad de acceder a los
            Servicios o usarlos; (ii) por lucro cesante, pérdida de datos o costes de adquisición o sustitución de
            bienes o servicios; o (iii) por cualquier conducta o contenido de terceros en el Sitio. En ningún caso la
            responsabilidad de MPS por daños directos superará (en total) la cantidad de cien dólares americanos (100,00
            $).
            17. Resolución de conflictos y legislación aplicable( igual que el punto 11, vamos a revisarlo con un idoneo
            y adaptarlo
            Nos encontramos en Buenos Aires, Argentina que cualquier conflicto o litigio que surja con nosotros deberá
            ser resuelto en dicha localidad, bajo la ley de la jurisprudencia que aplique en dicho territorio.
            En MPS le animamos a que se ponga en contacto con nosotros si tiene algún problema antes de acudir a los
            tribunales. En el desafortunado caso de que se produzca una acción judicial, estos Términos (y el resto de
            normas, políticas y reglas incluidas por alusión) se regirán e interpretarán de conformidad con las leyes
            del Estado de Nueva York y de los Estados Unidos, sin dar lugar a ningún principio de conflicto de ley y sin
            aplicar la Uniform Computer Information Transaction Act (Ley Uniforme de Transacciones de Información
            Computerizada, UCITA), ni la Convención de Naciones Unidas sobre Contratos de Compraventa Internacional de
            Mercaderías (United Nations Convention of Controls for International Sale of Goods). Usted acepta que MPS y
            sus Servicios se consideren un sitio web pasivo que no da lugar a jurisdicción sobre MPS ni sus sociedades
            matrices, filiales, afiliados, cesionarios, empleados, agentes, administradores, responsables ni
            accionistas, tanto específica como general, en ninguna jurisdicción aparte del Estado de Nueva York. Usted
            acepta que cualquier acción conforme a derecho o equidad derivada de estos Términos, o de su uso, o no uso,
            de MPS, o relacionada con estos Términos o con su uso, o no uso, de MPS se tramitará solo en los tribunales
            estatales o federales situados en el Condado de Nueva York del Estado de Nueva York de los Estados Unidos.
            Asimismo, por el presente acepta y se somete a la jurisdicción individual de estos tribunales para el
            litigio de cualquier acción de este tipo. Por el presente, renuncia de forma irrevocable a cualquier derecho
            que pudiera tener a un juicio con jurado por cualquier litigio, demanda o procedimiento.
            18. El resto<br>
            Estos son nuestros términos oficiales y nuestras reglas de funcionamiento. Si en algún momento encuentra
            información confusa o contradictoria acerca de cualquiera de estos aspectos, consulte estos términos, ya que
            son los que rigen. Gracias por leerlos y por usar MPS.
            Estos Términos, y el resto de material al que se hace referencia en ellos, son todo el acuerdo entre usted y
            MPS en relación con los Servicios. Sustituyen a cualquier otra comunicación y propuesta (tanto verbal como
            escrita o electrónica) que se produzca o haya producido entre MPS y usted en relación con los Servicios, y
            rigen nuestra relación futura. Si alguna cláusula de estos Términos fuese considerada no válida por ley,
            dicha cláusula será limitada o eliminada en la mínima medida necesaria para que los Términos sigan teniendo
            pleno vigor y efecto y sean vinculantes. Si usted o MPS no ejercen alguno de los derechos estipulados en
            estos Términos, no se considerará una renuncia a cualquier otro derecho.
            Estos Términos son específicos para usted. No debe cederlos, transferirlos ni sublicenciarlos, a menos que
            obtenga la autorización previa por escrito de MPS. MPS tiene derecho a ceder, transferir y delegar
            cualquiera de sus derechos y obligaciones derivados de estos Términos sin su consentimiento. MPS le avisará
            mediante correo electrónico, aviso por escrito o notificación visible en nuestro Sitio.
            Cualquier link de youtube aportado dentro de un proyecto puede ser usado y republicado en el canal de
            youtube de MPS.
            Saludos y bienvenidos!


            <button ng-click="nuevoUsuarioCtrl.showLegales = false;">Cerrar</button>
        </div>

    </div>
</div>