/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@-webkit-keyframes fadeinleft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  90% {
    opacity: 0;
    -webkit-transform: translateX(40%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
/* line 27, ../sass/screen.scss */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Droid Sans', sans-serif;
}

/* line 33, ../sass/screen.scss */
.a0-emailPassword {
  visibility: collapse !important;
  display: none !important;
}

/* line 38, ../sass/screen.scss */
a {
  text-decoration: none;
  color: white;
}

/* line 43, ../sass/screen.scss */
.colores {
  margin-bottom: 30px;
  margin-top: 30px;
}
/* line 47, ../sass/screen.scss */
.colores div {
  width: 100%;
  height: 12px;
}
/* line 51, ../sass/screen.scss */
.colores div:nth-child(1) {
  background-color: #a3f3a5;
}
/* line 54, ../sass/screen.scss */
.colores div:nth-child(2) {
  background-color: #d9ef42;
}
/* line 57, ../sass/screen.scss */
.colores div:nth-child(3) {
  background-color: #fbb330;
}
/* line 60, ../sass/screen.scss */
.colores div:nth-child(4) {
  background-color: #e3001b;
}

/* line 65, ../sass/screen.scss */
#ac-progress-bar {
  max-width: 100%;
}

/* line 69, ../sass/screen.scss */
.donacion-rapida-details {
  background-color: red;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 5px;
  height: 39px;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);
}
/* line 82, ../sass/screen.scss */
.donacion-rapida-details input {
  font-size: 16px;
  font-weight: bold;
  background-color: lightgrey;
  max-width: 40px;
  max-height: 18px;
  margin: 5px;
  border-radius: 4px;
}
/* line 92, ../sass/screen.scss */
.donacion-rapida-details button {
  font-size: 18px;
  background-color: transparent;
  color: white;
  border-style: none;
}
/* line 99, ../sass/screen.scss */
.donacion-rapida-details span {
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  font-size: 22px;
  height: 39px;
  color: white;
  margin-left: 5px;
}

/* line 111, ../sass/screen.scss */
table {
  max-width: 100%;
  width: 100%;
  table-layout: fixed;
}

/* line 119, ../sass/screen.scss */
.ac-error-message {
  background-color: #e3001b;
  color: white;
}

/* line 124, ../sass/screen.scss */
.ac-success-message {
  background-color: #e3001b;
  color: white;
}

/* line 129, ../sass/screen.scss */
.ac-mensaje-custom-show {
  -webkit-animation: show-mensaje 3s;
  -o-animation: show-mensaje 3s;
  animation: show-mensaje 3s;
}

@-webkit-keyframes show-mensaje {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 153, ../sass/screen.scss */
#header-mobile {
  display: flex;
  height: 50px;
  background-color: #919191;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
/* line 163, ../sass/screen.scss */
#header-mobile .header-separator {
  height: 40px;
  margin-top: 5px;
  width: 2px;
  margin-left: 40px;
  background-color: white;
}
/* line 171, ../sass/screen.scss */
#header-mobile .logo {
  flex: 5;
  padding: 5px;
  margin-right: 15px;
  text-align: right;
}

/* line 180, ../sass/screen.scss */
#header-desktop {
  position: fixed;
  top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fa9819;
  width: 100%;
  background-color: white;
  z-index: 100;
}
/* line 192, ../sass/screen.scss */
#header-desktop #header-desktop-left,
#header-desktop #header-desktop-right {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (min-width: 1300px) {
  /* line 192, ../sass/screen.scss */
  #header-desktop #header-desktop-left,
  #header-desktop #header-desktop-right {
    max-width: 650px;
  }
}
/* line 203, ../sass/screen.scss */
#header-desktop #header-desktop-left {
  justify-content: flex-start;
}
/* line 206, ../sass/screen.scss */
#header-desktop #header-desktop-right {
  justify-content: flex-end;
}
/* line 208, ../sass/screen.scss */
#header-desktop #header-desktop-right .desktop-link-login {
  margin: 5px 15px 5px 15px;
}
/* line 210, ../sass/screen.scss */
#header-desktop #header-desktop-right .desktop-link-login a, #header-desktop #header-desktop-right .desktop-link-login span {
  color: #fa9819;
  margin: 5px;
}
/* line 217, ../sass/screen.scss */
#header-desktop #header-desktop-right img {
  margin-left: 10px;
}
/* line 222, ../sass/screen.scss */
#header-desktop .desktop-link-nav {
  margin: 5px 15px 5px 15px;
}
/* line 224, ../sass/screen.scss */
#header-desktop .desktop-link-nav a {
  font-family: 'Droid Sans', sans-serif;
  color: #00a148;
}
/* line 230, ../sass/screen.scss */
#header-desktop button {
  background-color: transparent;
  border: 0 solid;
  color: #00a152;
}

@media (max-width: 799px) {
  /* line 237, ../sass/screen.scss */
  .menu-type-desktop {
    visibility: collapse;
    display: none !important;
  }
}

@media (min-width: 800px) {
  /* line 244, ../sass/screen.scss */
  .menu-type-mobile {
    visibility: collapse;
    display: none !important;
  }
}

/* line 251, ../sass/screen.scss */
.nav-button {
  flex: 1;
  margin-top: 15px;
  margin-left: 15px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  transform-origin: 13px 13px;
  transform-style: preserve-3D;
}
/* line 266, ../sass/screen.scss */
.nav-button div {
  cursor: pointer;
  width: 25px;
  height: 4px;
  border-radius: 2px;
  background-color: #ffffff;
  margin: 4px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 280, ../sass/screen.scss */
.nav-button .nav-button-top-transformed {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 287, ../sass/screen.scss */
.nav-button .nav-button-mid-transformed {
  -webkit-transform: translate(-3px, 0px);
  -moz-transform: translate(-3px, 0px);
  -ms-transform: translate(-3px, 0px);
  -o-transform: translate(-3px, 0px);
  transform: translate(-3px, 0px);
}
/* line 294, ../sass/screen.scss */
.nav-button .nav-button-bot-transformed {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 303, ../sass/screen.scss */
.nav-button-transformed {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 311, ../sass/screen.scss */
.menu-mobile-panel {
  width: 70%;
  color: white;
  background-color: #17384B;
  position: fixed;
  bottom: 0px;
  top: 50px;
  z-index: 500;
  height: 100%;
  -webkit-transform: translate(-1000px, 0);
  -moz-transform: translate(-1000px, 0);
  -ms-transform: translate(-1000px, 0);
  -o-transform: translate(-1000px, 0);
  transform: translate(-1000px, 0);
}
/* line 322, ../sass/screen.scss */
.menu-mobile-panel .menu-desktop-btn {
  margin-top: 15px;
  font-family: 'Open Sans', serif;
  line-height: 18px;
  padding: 5px;
  font-variant: all-petite-caps;
}
@media (min-width: 800px) {
  /* line 311, ../sass/screen.scss */
  .menu-mobile-panel {
    visibility: collapse;
    display: none;
  }
}

/* line 342, ../sass/screen.scss */
.menu-mobile-panel-show {
  -webkit-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  -o-transform: translate(0px, 0);
  transform: translate(0px, 0);
}

/* line 350, ../sass/screen.scss */
.menu-mobile-panel-show-add {
  -webkit-animation: menu-mobile-enter 0.4s;
  -o-animation: menu-mobile-enter 0.4s;
  animation: menu-mobile-enter 0.4s;
}

/* line 356, ../sass/screen.scss */
.menu-mobile-panel-show-remove {
  -webkit-animation: menu-mobile-leave 0.4s;
  -o-animation: menu-mobile-leave 0.4s;
  animation: menu-mobile-leave 0.4s;
}

@keyframes menu-mobile-enter {
  0% {
    -webkit-transform: translate(-1000px, 0);
    -moz-transform: translate(-1000px, 0);
    -ms-transform: translate(-1000px, 0);
    -o-transform: translate(-1000px, 0);
    transform: translate(-1000px, 0);
  }
  100% {
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }
}
@keyframes menu-mobile-leave {
  0% {
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }
  100% {
    -webkit-transform: translate(-1000px, 0);
    -moz-transform: translate(-1000px, 0);
    -ms-transform: translate(-1000px, 0);
    -o-transform: translate(-1000px, 0);
    transform: translate(-1000px, 0);
  }
}
/* line 398, ../sass/screen.scss */
#main {
  margin-top: 50px;
}
@media (min-width: 800px) {
  /* line 398, ../sass/screen.scss */
  #main {
    margin-top: 30px;
  }
}

/* line 405, ../sass/screen.scss */
#main-search-bar {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  width: 100%;
  background-color: #fa9819;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-height: 35px;
  margin-top: 50px;
  /* WebKit */
  /* Firefox 18- */
  /* Firefox 19+ */
  /* IE 10+ */
}
/* line 418, ../sass/screen.scss */
#main-search-bar ::-webkit-input-placeholder {
  color: white;
  font-size: 18px;
  height: 22px;
  border-style: none;
}
/* line 419, ../sass/screen.scss */
#main-search-bar :-moz-placeholder {
  color: white;
  font-size: 18px;
  height: 22px;
  border-style: none;
}
/* line 420, ../sass/screen.scss */
#main-search-bar ::-moz-placeholder {
  color: white;
  font-size: 18px;
  height: 22px;
  border-style: none;
}
/* line 421, ../sass/screen.scss */
#main-search-bar :-ms-input-placeholder {
  color: white;
  font-size: 18px;
  height: 22px;
  border-style: none;
}
/* line 423, ../sass/screen.scss */
#main-search-bar input {
  background-color: transparent;
  color: white;
  margin-top: 5px;
  font-size: 18px;
  height: 22px;
  width: 100%;
  border-style: none;
}
/* line 434, ../sass/screen.scss */
#main-search-bar img {
  margin-left: 40px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-top: -10px;
}

/* line 443, ../sass/screen.scss */
.imagenes-publicitarias {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* line 448, ../sass/screen.scss */
#main-top-section {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  align-items: center;
  margin: auto;
  margin-bottom: 50px;
}
@media (min-width: 800px) {
  /* line 448, ../sass/screen.scss */
  #main-top-section {
    flex-direction: row;
  }
}
/* line 460, ../sass/screen.scss */
#main-top-section h1 {
  margin-bottom: 20px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 65px;
  color: #fa9819;
  font-weight: bold;
}
/* line 468, ../sass/screen.scss */
#main-top-section #main-top-text-panel {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50%;
}
@media (min-width: 1200px) {
  /* line 468, ../sass/screen.scss */
  #main-top-section #main-top-text-panel {
    max-width: 600px;
  }
}
/* line 480, ../sass/screen.scss */
#main-top-section .imagenes-publicitarias img {
  text-align: center;
  align-items: center;
}
/* line 486, ../sass/screen.scss */
#main-top-section #main-btn-crear {
  background-color: #00a148;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
}
/* line 500, ../sass/screen.scss */
#main-top-section #main-btn-crear p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 3px;
}
/* line 505, ../sass/screen.scss */
#main-top-section #main-btn-crear span {
  font-size: 14px;
}
/* line 510, ../sass/screen.scss */
#main-top-section #main-slider {
  width: 100%;
  max-width: 100%;
  min-height: 300px;
  position: relative;
}
/* line 515, ../sass/screen.scss */
#main-top-section #main-slider h1 {
  color: black;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 20px;
}
/* line 524, ../sass/screen.scss */
#main-top-section #main-slider p {
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  max-height: 200px;
  overflow: auto;
}
/* line 532, ../sass/screen.scss */
#main-top-section #main-slider img {
  width: 100%;
  height: 150px;
}
/* line 538, ../sass/screen.scss */
#main-top-section #main-slider .button-ver {
  width: 54px;
  height: 42px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  background-color: #00a148;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: white;
  padding: 5px;
  align-items: center;
  outline: none;
}
@media (min-width: 800px) {
  /* line 510, ../sass/screen.scss */
  #main-top-section #main-slider {
    max-width: 50%;
  }
}
@media (min-width: 1200px) {
  /* line 510, ../sass/screen.scss */
  #main-top-section #main-slider {
    max-width: 600px;
  }
}
/* line 561, ../sass/screen.scss */
#main-top-section #main-slider .main-slider-proyecto {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

/* line 578, ../sass/screen.scss */
#proyectos-nuevos,
#proyectos-finalizar {
  max-width: 100%;
}
/* line 582, ../sass/screen.scss */
#proyectos-nuevos h1,
#proyectos-finalizar h1 {
  width: 100%;
  color: white;
  padding: 10px 0 10px 0;
  font-size: 26px;
  text-align: center;
}
/* line 590, ../sass/screen.scss */
#proyectos-nuevos #main-proyectos-nuevos-list,
#proyectos-nuevos #main-proyectos-finalizar-list,
#proyectos-finalizar #main-proyectos-nuevos-list,
#proyectos-finalizar #main-proyectos-finalizar-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding: 15px;
}
@media (min-width: 800px) and (max-width: 1299px) {
  /* line 590, ../sass/screen.scss */
  #proyectos-nuevos #main-proyectos-nuevos-list,
  #proyectos-nuevos #main-proyectos-finalizar-list,
  #proyectos-finalizar #main-proyectos-nuevos-list,
  #proyectos-finalizar #main-proyectos-finalizar-list {
    flex-direction: row;
    max-width: 30%;
  }
}
@media (min-width: 1300px) {
  /* line 590, ../sass/screen.scss */
  #proyectos-nuevos #main-proyectos-nuevos-list,
  #proyectos-nuevos #main-proyectos-finalizar-list,
  #proyectos-finalizar #main-proyectos-nuevos-list,
  #proyectos-finalizar #main-proyectos-finalizar-list {
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
  }
}
/* line 608, ../sass/screen.scss */
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-nuevo,
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-finalizar,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-nuevo,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-finalizar,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-nuevo,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-finalizar,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-nuevo,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-finalizar {
  width: 320px;
  height: 500px;
  margin-left: 3px;
  margin-right: 3px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  margin-bottom: 10px;
  position: relative;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);
}
/* line 627, ../sass/screen.scss */
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-nuevo .main-img-proyecto,
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-finalizar .main-img-proyecto,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-nuevo .main-img-proyecto,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-finalizar .main-img-proyecto,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-nuevo .main-img-proyecto,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-finalizar .main-img-proyecto,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-nuevo .main-img-proyecto,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-finalizar .main-img-proyecto {
  background-color: red;
  width: 100%;
  height: 100px;
  align-items: center;
  text-align: center;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
}
/* line 637, ../sass/screen.scss */
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-nuevo p,
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-finalizar p,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-nuevo p,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-finalizar p,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-nuevo p,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-finalizar p,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-nuevo p,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-finalizar p {
  height: 300px;
  line-height: 17px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 15px;
  overflow: auto;
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  /* line 608, ../sass/screen.scss */
  #proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-nuevo,
  #proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-finalizar,
  #proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-nuevo,
  #proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-finalizar,
  #proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-nuevo,
  #proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-finalizar,
  #proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-nuevo,
  #proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-finalizar {
    max-width: 400px;
  }
}
/* line 650, ../sass/screen.scss */
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-nuevo #ac-progress-bar,
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-finalizar #ac-progress-bar,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-nuevo #ac-progress-bar,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-finalizar #ac-progress-bar,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-nuevo #ac-progress-bar,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-finalizar #ac-progress-bar,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-nuevo #ac-progress-bar,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-finalizar #ac-progress-bar {
  opacity: .7;
  margin-bottom: 10px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);
}
/* line 661, ../sass/screen.scss */
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-nuevo .ac-progress-first,
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-nuevo .ac-progress-second,
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-nuevo .ac-progress-third,
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-nuevo .ac-progress-fourth,
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-finalizar .ac-progress-first,
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-finalizar .ac-progress-second,
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-finalizar .ac-progress-third,
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-finalizar .ac-progress-fourth,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-nuevo .ac-progress-first,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-nuevo .ac-progress-second,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-nuevo .ac-progress-third,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-nuevo .ac-progress-fourth,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-finalizar .ac-progress-first,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-finalizar .ac-progress-second,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-finalizar .ac-progress-third,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-finalizar .ac-progress-fourth,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-nuevo .ac-progress-first,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-nuevo .ac-progress-second,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-nuevo .ac-progress-third,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-nuevo .ac-progress-fourth,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-finalizar .ac-progress-first,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-finalizar .ac-progress-second,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-finalizar .ac-progress-third,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-finalizar .ac-progress-fourth,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-nuevo .ac-progress-first,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-nuevo .ac-progress-second,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-nuevo .ac-progress-third,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-nuevo .ac-progress-fourth,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-finalizar .ac-progress-first,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-finalizar .ac-progress-second,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-finalizar .ac-progress-third,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-finalizar .ac-progress-fourth {
  width: 14px;
  height: 28px;
  -webkit-border-radius: 4.5px;
  -moz-border-radius: 4.5px;
  border-radius: 4.5px;
}
/* line 673, ../sass/screen.scss */
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-nuevo h2,
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-finalizar h2,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-nuevo h2,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-finalizar h2,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-nuevo h2,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-finalizar h2,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-nuevo h2,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-finalizar h2 {
  font-family: 'Droid Sans', serif;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
  height: 70px;
}
/* line 683, ../sass/screen.scss */
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-nuevo p,
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-finalizar p,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-nuevo p,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-finalizar p,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-nuevo p,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-finalizar p,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-nuevo p,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-finalizar p {
  height: 320px;
  font-family: 'Droid Sans', serif;
  font-size: 15px;
  text-align: left;
  margin-top: 10px;
}
/* line 692, ../sass/screen.scss */
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-nuevo .button-ver,
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-finalizar .button-ver,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-nuevo .button-ver,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-finalizar .button-ver,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-nuevo .button-ver,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-finalizar .button-ver,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-nuevo .button-ver,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-finalizar .button-ver {
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  width: 54px;
  height: 42px;
  background-color: #00a148;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: white;
  padding: 5px;
  align-items: center;
  outline: none;
}
/* line 711, ../sass/screen.scss */
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-nuevo span,
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-finalizar span,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-nuevo span,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-finalizar span,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-nuevo span,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-finalizar span,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-nuevo span,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-finalizar span {
  font-family: 'Droid Sans', serif;
  margin-top: 10px;
}
/* line 719, ../sass/screen.scss */
#proyectos-nuevos #main-proyectos-nuevos-list .main-button-face,
#proyectos-nuevos #main-proyectos-nuevos-list .main-button-twitter,
#proyectos-nuevos #main-proyectos-finalizar-list .main-button-face,
#proyectos-nuevos #main-proyectos-finalizar-list .main-button-twitter,
#proyectos-finalizar #main-proyectos-nuevos-list .main-button-face,
#proyectos-finalizar #main-proyectos-nuevos-list .main-button-twitter,
#proyectos-finalizar #main-proyectos-finalizar-list .main-button-face,
#proyectos-finalizar #main-proyectos-finalizar-list .main-button-twitter {
  position: absolute;
  right: 20px;
  top: 20px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  border-style: none;
}
/* line 731, ../sass/screen.scss */
#proyectos-nuevos #main-proyectos-nuevos-list .main-button-twitter,
#proyectos-nuevos #main-proyectos-finalizar-list .main-button-twitter,
#proyectos-finalizar #main-proyectos-nuevos-list .main-button-twitter,
#proyectos-finalizar #main-proyectos-finalizar-list .main-button-twitter {
  top: 55px;
}
/* line 736, ../sass/screen.scss */
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-nuevo,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-nuevo,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-nuevo,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-nuevo {
  border: 2px solid #e3001b;
}
/* line 740, ../sass/screen.scss */
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-finalizar,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-finalizar,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-finalizar,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-finalizar {
  border: 2px solid #49b67a;
}

/* line 748, ../sass/screen.scss */
#proyectos-nuevos h1 {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  background-color: #e3001b;
}

/* line 758, ../sass/screen.scss */
#proyectos-finalizar h1 {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  background-color: #18e21c;
}

/* line 766, ../sass/screen.scss */
.show-slider-proyecto {
  opacity: 1 !important;
}

/* line 770, ../sass/screen.scss */
#main-nuestras-empresas {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 771, ../sass/screen.scss */
#main-nuestras-empresas h1 {
  font-size: 28px;
}
/* line 778, ../sass/screen.scss */
#main-nuestras-empresas #main-nuestras-empresas-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 800px;
}
/* line 785, ../sass/screen.scss */
#main-nuestras-empresas #main-nuestras-empresas-list .main-empresa {
  height: 150px;
  width: 150px;
  min-height: 150px;
  min-width: 150px;
  background-color: #b3d4fc;
  margin: 10px;
}

/* line 797, ../sass/screen.scss */
#contacto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 801, ../sass/screen.scss */
#contacto-container #contacto-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 800px) {
  /* line 801, ../sass/screen.scss */
  #contacto-container #contacto-form {
    flex-direction: row;
  }
}
/* line 808, ../sass/screen.scss */
#contacto-container #contacto-form .contacto-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 813, ../sass/screen.scss */
#contacto-container #contacto-form .contacto-panel span {
  width: 100%;
  text-align: left;
}

/* line 823, ../sass/screen.scss */
.administracion-button-bar {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* line 834, ../sass/screen.scss */
#administracion {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
@media (min-width: 400px) {
  /* line 842, ../sass/screen.scss */
  #administracion .administracion-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  /* line 848, ../sass/screen.scss */
  #administracion .administracion-inputs span {
    margin-bottom: 5px;
  }
  /* line 853, ../sass/screen.scss */
  #administracion .administracion-inputs .administracion-input {
    max-width: 400px;
    width: 400px;
  }
}
/* line 860, ../sass/screen.scss */
#administracion .administracion-foto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 100%;
}
@media (min-width: 400px) {
  /* line 860, ../sass/screen.scss */
  #administracion .administracion-foto {
    max-width: 400px;
    min-width: 400px;
  }
}
/* line 871, ../sass/screen.scss */
#administracion .administracion-foto .foto {
  position: relative;
}
/* line 874, ../sass/screen.scss */
#administracion .administracion-foto .foto .input-foto {
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
}
/* line 881, ../sass/screen.scss */
#administracion .administracion-foto .foto input {
  position: absolute;
  width: 50px;
  height: 50px;
  opacity: 0;
  top: 0;
  left: 0;
}
/* line 894, ../sass/screen.scss */
#administracion .administracion-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px;
}
/* line 902, ../sass/screen.scss */
#administracion td {
  max-width: 50% !important;
}
/* line 906, ../sass/screen.scss */
#administracion #administracion-main,
#administracion #administracion-usuarios-tabla {
  margin-top: 50px;
  margin-bottom: 10px;
  max-width: 1000px;
}
/* line 914, ../sass/screen.scss */
#administracion #administracion-main th, #administracion td {
  text-align: center;
  margin: 5px;
  padding: 5px;
}
/* line 920, ../sass/screen.scss */
#administracion #ac-progress-bar {
  max-width: 100%;
}

/* line 925, ../sass/screen.scss */
#administracion-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 930, ../sass/screen.scss */
#administracion-nav div {
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  padding: 5px;
  margin: 10px;
  width: 100px;
  text-align: center;
}

/* line 941, ../sass/screen.scss */
.institucional-publicidad {
  margin: auto;
  max-width: 1200px;
}
/* line 946, ../sass/screen.scss */
.institucional-publicidad h1 {
  margin: 10px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 45px;
  font-weight: bold;
}
/* line 953, ../sass/screen.scss */
.institucional-publicidad h2 {
  margin: 10px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: justify;
}

/* line 971, ../sass/screen.scss */
.administracion-input input {
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  border-style: none;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

/* line 983, ../sass/screen.scss */
.dias-restantes {
  color: black;
  font-size: 18px;
  text-align: left;
}

/* line 989, ../sass/screen.scss */
.porcentaje {
  font-size: 50px;
  color: black;
  margin-left: 90px;
}

/* line 996, ../sass/screen.scss */
#ingreso-form,
#nuevo-usuario-form {
  margin: auto;
  padding-top: 100px;
  align-items: center;
  max-width: 800px;
  min-height: 800px;
}
/* line 1003, ../sass/screen.scss */
#ingreso-form h1,
#nuevo-usuario-form h1 {
  margin-bottom: 20px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 45px;
  font-weight: bold;
}
/* line 1010, ../sass/screen.scss */
#ingreso-form p,
#nuevo-usuario-form p {
  margin-bottom: 20px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: justify;
}
/* line 1019, ../sass/screen.scss */
#ingreso-form span,
#nuevo-usuario-form span {
  margin: 5px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
