/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
/* line 5, ../../../../.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-head/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.scss */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Droid Sans', sans-serif;
}

/* line 15, ../sass/screen.scss */
.a0-emailPassword {
  visibility: collapse !important;
  display: none !important;
}

/* line 20, ../sass/screen.scss */
a {
  text-decoration: none;
  color: white;
}

/* line 25, ../sass/screen.scss */
.colores {
  margin-bottom: 30px;
  margin-top: 30px;
}
/* line 29, ../sass/screen.scss */
.colores div {
  width: 100%;
  height: 12px;
}
/* line 33, ../sass/screen.scss */
.colores div:nth-child(1) {
  background-color: #a3f3a5;
}
/* line 36, ../sass/screen.scss */
.colores div:nth-child(2) {
  background-color: #d9ef42;
}
/* line 39, ../sass/screen.scss */
.colores div:nth-child(3) {
  background-color: #fbb330;
}
/* line 42, ../sass/screen.scss */
.colores div:nth-child(4) {
  background-color: #e3001b;
}

/* line 47, ../sass/screen.scss */
#ac-progress-bar {
  max-width: 100%;
}

/* line 51, ../sass/screen.scss */
.donacion-rapida-details {
  background-color: red;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 5px;
  height: 39px;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);
}
/* line 64, ../sass/screen.scss */
.donacion-rapida-details input {
  font-size: 16px;
  font-weight: bold;
  background-color: lightgrey;
  max-width: 40px;
  max-height: 18px;
  margin: 5px;
  border-radius: 4px;
}
/* line 74, ../sass/screen.scss */
.donacion-rapida-details button {
  font-size: 18px;
  background-color: transparent;
  color: white;
  border-style: none;
}
/* line 81, ../sass/screen.scss */
.donacion-rapida-details span {
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  font-size: 22px;
  height: 39px;
  color: white;
  margin-left: 5px;
}

/* line 93, ../sass/screen.scss */
table {
  max-width: 100%;
  width: 100%;
  table-layout: fixed;
}

/* line 101, ../sass/screen.scss */
#header-mobile {
  display: flex;
  height: 50px;
  background-color: #919191;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
/* line 111, ../sass/screen.scss */
#header-mobile .header-separator {
  height: 40px;
  margin-top: 5px;
  width: 2px;
  margin-left: 40px;
  background-color: white;
}
/* line 119, ../sass/screen.scss */
#header-mobile .logo {
  flex: 5;
  padding: 5px;
  margin-right: 15px;
  text-align: right;
}

/* line 128, ../sass/screen.scss */
#header-desktop {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fa9819;
  width: 100%;
  background-color: white;
  z-index: 100;
}
/* line 140, ../sass/screen.scss */
#header-desktop #header-desktop-left,
#header-desktop #header-desktop-right {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (min-width: 1300px) {
  /* line 140, ../sass/screen.scss */
  #header-desktop #header-desktop-left,
  #header-desktop #header-desktop-right {
    max-width: 650px;
  }
}
/* line 151, ../sass/screen.scss */
#header-desktop #header-desktop-left {
  justify-content: flex-start;
}
/* line 154, ../sass/screen.scss */
#header-desktop #header-desktop-right {
  justify-content: flex-end;
}
/* line 156, ../sass/screen.scss */
#header-desktop #header-desktop-right .desktop-link-login {
  margin: 5px 15px 5px 15px;
}
/* line 158, ../sass/screen.scss */
#header-desktop #header-desktop-right .desktop-link-login a, #header-desktop #header-desktop-right .desktop-link-login span {
  color: #fa9819;
  margin: 5px;
}
/* line 165, ../sass/screen.scss */
#header-desktop #header-desktop-right img {
  margin-left: 10px;
}
/* line 170, ../sass/screen.scss */
#header-desktop .desktop-link-nav {
  margin: 5px 15px 5px 15px;
}
/* line 172, ../sass/screen.scss */
#header-desktop .desktop-link-nav a {
  font-family: 'Droid Sans', sans-serif;
  color: #00a148;
}
/* line 178, ../sass/screen.scss */
#header-desktop button {
  background-color: transparent;
  border: 0 solid;
  color: #00a152;
}

@media (max-width: 799px) {
  /* line 185, ../sass/screen.scss */
  .menu-type-desktop {
    visibility: collapse;
    display: none !important;
  }
}

@media (min-width: 800px) {
  /* line 192, ../sass/screen.scss */
  .menu-type-mobile {
    visibility: collapse;
    display: none !important;
  }
}

/* line 199, ../sass/screen.scss */
.nav-button {
  flex: 1;
  margin-top: 15px;
  margin-left: 15px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  transform-origin: 13px 13px;
  transform-style: preserve-3D;
}
/* line 214, ../sass/screen.scss */
.nav-button div {
  cursor: pointer;
  width: 25px;
  height: 4px;
  border-radius: 2px;
  background-color: #ffffff;
  margin: 4px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 228, ../sass/screen.scss */
.nav-button .nav-button-top-transformed {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 235, ../sass/screen.scss */
.nav-button .nav-button-mid-transformed {
  -webkit-transform: translate(-3px, 0px);
  -moz-transform: translate(-3px, 0px);
  -ms-transform: translate(-3px, 0px);
  -o-transform: translate(-3px, 0px);
  transform: translate(-3px, 0px);
}
/* line 242, ../sass/screen.scss */
.nav-button .nav-button-bot-transformed {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 251, ../sass/screen.scss */
.nav-button-transformed {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 259, ../sass/screen.scss */
.menu-mobile-panel {
  width: 70%;
  color: white;
  background-color: #17384B;
  position: fixed;
  bottom: 0px;
  top: 50px;
  z-index: 500;
  height: 100%;
  -webkit-transform: translate(-1000px, 0);
  -moz-transform: translate(-1000px, 0);
  -ms-transform: translate(-1000px, 0);
  -o-transform: translate(-1000px, 0);
  transform: translate(-1000px, 0);
}
/* line 270, ../sass/screen.scss */
.menu-mobile-panel .menu-desktop-btn {
  margin-top: 15px;
  font-family: 'Open Sans', serif;
  line-height: 18px;
  padding: 5px;
  font-variant: all-petite-caps;
}
@media (min-width: 800px) {
  /* line 259, ../sass/screen.scss */
  .menu-mobile-panel {
    visibility: collapse;
    display: none;
  }
}

/* line 290, ../sass/screen.scss */
.menu-mobile-panel-show {
  -webkit-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  -o-transform: translate(0px, 0);
  transform: translate(0px, 0);
}

/* line 298, ../sass/screen.scss */
.menu-mobile-panel-show-add {
  -webkit-animation: menu-mobile-enter 0.4s;
  -o-animation: menu-mobile-enter 0.4s;
  animation: menu-mobile-enter 0.4s;
}

/* line 304, ../sass/screen.scss */
.menu-mobile-panel-show-remove {
  -webkit-animation: menu-mobile-leave 0.4s;
  -o-animation: menu-mobile-leave 0.4s;
  animation: menu-mobile-leave 0.4s;
}

@keyframes menu-mobile-enter {
  0% {
    -webkit-transform: translate(-1000px, 0);
    -moz-transform: translate(-1000px, 0);
    -ms-transform: translate(-1000px, 0);
    -o-transform: translate(-1000px, 0);
    transform: translate(-1000px, 0);
  }
  100% {
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }
}
@keyframes menu-mobile-leave {
  0% {
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }
  100% {
    -webkit-transform: translate(-1000px, 0);
    -moz-transform: translate(-1000px, 0);
    -ms-transform: translate(-1000px, 0);
    -o-transform: translate(-1000px, 0);
    transform: translate(-1000px, 0);
  }
}
/* line 346, ../sass/screen.scss */
#main {
  margin-top: 50px;
}
@media (min-width: 800px) {
  /* line 346, ../sass/screen.scss */
  #main {
    margin-top: 30px;
  }
}

/* line 353, ../sass/screen.scss */
#main-search-bar {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  width: 100%;
  background-color: #fa9819;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-height: 30px;
  margin-top: 50px;
}
/* line 365, ../sass/screen.scss */
#main-search-bar input {
  background-color: transparent;
  color: white;
  height: 30px;
  width: 100%;
  border-style: none;
}
/* line 374, ../sass/screen.scss */
#main-search-bar img {
  background-color: #87ce1d;
  margin-left: 40px;
  width: 50px;
  height: 50px;
  margin-top: -10px;
}

/* line 383, ../sass/screen.scss */
#main-top-section {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  align-items: center;
  margin: auto;
  margin-bottom: 50px;
}
@media (min-width: 800px) {
  /* line 383, ../sass/screen.scss */
  #main-top-section {
    flex-direction: row;
  }
}
/* line 395, ../sass/screen.scss */
#main-top-section h1 {
  margin: 5px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 65px;
  color: #fa9819;
  font-weight: bold;
}
/* line 403, ../sass/screen.scss */
#main-top-section #main-top-text-panel {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50%;
}
@media (min-width: 1200px) {
  /* line 403, ../sass/screen.scss */
  #main-top-section #main-top-text-panel {
    max-width: 600px;
  }
}
/* line 414, ../sass/screen.scss */
#main-top-section .imagenes-publicitarias img {
  margin-top: 50px;
  text-align: center;
  align-items: center;
}
/* line 420, ../sass/screen.scss */
#main-top-section #main-btn-crear {
  background-color: #00a148;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: white;
  padding: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 432, ../sass/screen.scss */
#main-top-section #main-btn-crear p {
  font-size: 18px;
}
/* line 435, ../sass/screen.scss */
#main-top-section #main-btn-crear span {
  font-size: 14px;
}
/* line 440, ../sass/screen.scss */
#main-top-section #main-slider {
  width: 100%;
  max-width: 100%;
  background-color: lightblue;
  min-height: 300px;
  position: relative;
}
@media (min-width: 800px) {
  /* line 440, ../sass/screen.scss */
  #main-top-section #main-slider {
    max-width: 50%;
  }
}
@media (min-width: 1200px) {
  /* line 440, ../sass/screen.scss */
  #main-top-section #main-slider {
    max-width: 600px;
  }
}
/* line 453, ../sass/screen.scss */
#main-top-section #main-slider .main-slider-proyecto {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00a148;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

/* line 471, ../sass/screen.scss */
#proyectos-nuevos,
#proyectos-finalizar {
  max-width: 100%;
}
/* line 475, ../sass/screen.scss */
#proyectos-nuevos h1,
#proyectos-finalizar h1 {
  width: 100%;
  color: white;
  padding: 10px 0 10px 0;
  font-size: 26px;
  text-align: center;
}
/* line 483, ../sass/screen.scss */
#proyectos-nuevos #main-proyectos-nuevos-list,
#proyectos-nuevos #main-proyectos-finalizar-list,
#proyectos-finalizar #main-proyectos-nuevos-list,
#proyectos-finalizar #main-proyectos-finalizar-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding: 15px;
}
@media (min-width: 800px) and (max-width: 1299px) {
  /* line 483, ../sass/screen.scss */
  #proyectos-nuevos #main-proyectos-nuevos-list,
  #proyectos-nuevos #main-proyectos-finalizar-list,
  #proyectos-finalizar #main-proyectos-nuevos-list,
  #proyectos-finalizar #main-proyectos-finalizar-list {
    flex-direction: row;
    max-width: 30%;
  }
}
@media (min-width: 1300px) {
  /* line 483, ../sass/screen.scss */
  #proyectos-nuevos #main-proyectos-nuevos-list,
  #proyectos-nuevos #main-proyectos-finalizar-list,
  #proyectos-finalizar #main-proyectos-nuevos-list,
  #proyectos-finalizar #main-proyectos-finalizar-list {
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
  }
}
/* line 501, ../sass/screen.scss */
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-nuevo,
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-finalizar,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-nuevo,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-finalizar,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-nuevo,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-finalizar,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-nuevo,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-finalizar {
  width: 320px;
  height: 500px;
  margin-left: 3px;
  margin-right: 3px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);
}
/* line 519, ../sass/screen.scss */
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-nuevo img,
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-finalizar img,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-nuevo img,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-finalizar img,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-nuevo img,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-finalizar img,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-nuevo img,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-finalizar img {
  background-color: red;
  width: 100%;
  height: 100px;
  align-items: center;
  text-align: center;
}
@media (min-width: 1200px) {
  /* line 501, ../sass/screen.scss */
  #proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-nuevo,
  #proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-finalizar,
  #proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-nuevo,
  #proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-finalizar,
  #proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-nuevo,
  #proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-finalizar,
  #proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-nuevo,
  #proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-finalizar {
    max-width: 400px;
  }
}
/* line 532, ../sass/screen.scss */
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-nuevo #ac-progress-bar,
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-finalizar #ac-progress-bar,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-nuevo #ac-progress-bar,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-finalizar #ac-progress-bar,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-nuevo #ac-progress-bar,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-finalizar #ac-progress-bar,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-nuevo #ac-progress-bar,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-finalizar #ac-progress-bar {
  opacity: .7;
  margin-bottom: 10px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);
}
/* line 543, ../sass/screen.scss */
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-nuevo .ac-progress-first,
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-nuevo .ac-progress-second,
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-nuevo .ac-progress-third,
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-nuevo .ac-progress-fourth,
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-finalizar .ac-progress-first,
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-finalizar .ac-progress-second,
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-finalizar .ac-progress-third,
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-finalizar .ac-progress-fourth,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-nuevo .ac-progress-first,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-nuevo .ac-progress-second,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-nuevo .ac-progress-third,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-nuevo .ac-progress-fourth,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-finalizar .ac-progress-first,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-finalizar .ac-progress-second,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-finalizar .ac-progress-third,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-finalizar .ac-progress-fourth,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-nuevo .ac-progress-first,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-nuevo .ac-progress-second,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-nuevo .ac-progress-third,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-nuevo .ac-progress-fourth,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-finalizar .ac-progress-first,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-finalizar .ac-progress-second,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-finalizar .ac-progress-third,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-finalizar .ac-progress-fourth,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-nuevo .ac-progress-first,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-nuevo .ac-progress-second,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-nuevo .ac-progress-third,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-nuevo .ac-progress-fourth,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-finalizar .ac-progress-first,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-finalizar .ac-progress-second,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-finalizar .ac-progress-third,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-finalizar .ac-progress-fourth {
  width: 14px;
  height: 28px;
  -webkit-border-radius: 4.5px;
  -moz-border-radius: 4.5px;
  border-radius: 4.5px;
}
/* line 555, ../sass/screen.scss */
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-nuevo h2,
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-finalizar h2,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-nuevo h2,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-finalizar h2,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-nuevo h2,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-finalizar h2,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-nuevo h2,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-finalizar h2 {
  font-family: 'Droid Sans', serif;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}
/* line 565, ../sass/screen.scss */
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-nuevo p,
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-finalizar p,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-nuevo p,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-finalizar p,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-nuevo p,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-finalizar p,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-nuevo p,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-finalizar p {
  height: 320px;
  font-family: 'Droid Sans', serif;
  font-size: 15px;
  text-align: left;
  margin-top: 30px;
}
/* line 574, ../sass/screen.scss */
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-nuevo .button-ver,
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-finalizar .button-ver,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-nuevo .button-ver,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-finalizar .button-ver,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-nuevo .button-ver,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-finalizar .button-ver,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-nuevo .button-ver,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-finalizar .button-ver {
  width: 54px;
  height: 34px;
  background-color: #00a148;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: white;
  padding: 5px;
  align-items: center;
  outline: none;
}
/* line 591, ../sass/screen.scss */
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-nuevo span,
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-finalizar span,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-nuevo span,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-finalizar span,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-nuevo span,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-finalizar span,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-nuevo span,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-finalizar span {
  font-family: 'Droid Sans', serif;
  margin-top: 10px;
}
/* line 602, ../sass/screen.scss */
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-nuevo,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-nuevo,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-nuevo,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-nuevo {
  border: 2px solid #e3001b;
}
/* line 606, ../sass/screen.scss */
#proyectos-nuevos #main-proyectos-nuevos-list .main-proyecto-finalizar,
#proyectos-nuevos #main-proyectos-finalizar-list .main-proyecto-finalizar,
#proyectos-finalizar #main-proyectos-nuevos-list .main-proyecto-finalizar,
#proyectos-finalizar #main-proyectos-finalizar-list .main-proyecto-finalizar {
  border: 2px solid #49b67a;
}

/* line 614, ../sass/screen.scss */
#proyectos-nuevos h1 {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  background-color: #e3001b;
}

/* line 624, ../sass/screen.scss */
#proyectos-finalizar h1 {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  background-color: #18e21c;
}

/* line 632, ../sass/screen.scss */
.show-slider-proyecto {
  opacity: 1 !important;
}

/* line 636, ../sass/screen.scss */
#main-nuestras-empresas {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 637, ../sass/screen.scss */
#main-nuestras-empresas h1 {
  font-size: 28px;
}
/* line 644, ../sass/screen.scss */
#main-nuestras-empresas #main-nuestras-empresas-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 800px;
}
/* line 651, ../sass/screen.scss */
#main-nuestras-empresas #main-nuestras-empresas-list .main-empresa {
  height: 150px;
  width: 150px;
  min-height: 150px;
  min-width: 150px;
  background-color: #b3d4fc;
  margin: 10px;
}

/* line 663, ../sass/screen.scss */
#contacto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 667, ../sass/screen.scss */
#contacto-container #contacto-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 800px) {
  /* line 667, ../sass/screen.scss */
  #contacto-container #contacto-form {
    flex-direction: row;
  }
}
/* line 674, ../sass/screen.scss */
#contacto-container #contacto-form .contacto-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 679, ../sass/screen.scss */
#contacto-container #contacto-form .contacto-panel span {
  width: 100%;
  text-align: left;
}

/* line 689, ../sass/screen.scss */
.administracion-button-bar {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 695, ../sass/screen.scss */
#administracion {
  margin-top: 50px;
}
@media (min-width: 400px) {
  /* line 699, ../sass/screen.scss */
  #administracion .administracion-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  /* line 705, ../sass/screen.scss */
  #administracion .administracion-inputs .administracion-input {
    max-width: 400px;
    width: 400px;
  }
}
/* line 712, ../sass/screen.scss */
#administracion .administracion-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px;
}
/* line 720, ../sass/screen.scss */
#administracion td {
  max-width: 50% !important;
}
/* line 724, ../sass/screen.scss */
#administracion #ac-progress-bar {
  max-width: 100%;
}

/* line 729, ../sass/screen.scss */
#administracion-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 734, ../sass/screen.scss */
#administracion-nav div {
  border: 1px solid;
  padding: 5px;
  margin: 1px;
  width: 150px;
  text-align: center;
}

/* line 744, ../sass/screen.scss */
.institucional-publicidad {
  margin: auto;
  max-width: 1100px;
}
/* line 748, ../sass/screen.scss */
.institucional-publicidad h1 {
  margin: 10px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 45px;
  font-weight: bold;
}
/* line 755, ../sass/screen.scss */
.institucional-publicidad h2 {
  margin: 10px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: justify;
}

/* line 768, ../sass/screen.scss */
.administracion-input input {
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  border-style: none;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

/* line 780, ../sass/screen.scss */
.dias-restantes {
  color: black;
  font-size: 18px;
  text-align: left;
}

/* line 787, ../sass/screen.scss */
.porcentaje {
  font-size: 50px;
  color: black;
  margin-left: 90px;
}

/* line 795, ../sass/screen.scss */
#ingreso-form {
  margin: auto;
  padding-top: 100px;
  align-items: center;
  max-width: 800px;
  min-height: 800px;
}
/* line 801, ../sass/screen.scss */
#ingreso-form h1 {
  margin-bottom: 20px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 45px;
  font-weight: bold;
}
/* line 808, ../sass/screen.scss */
#ingreso-form p {
  margin-bottom: 20px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: justify;
}
/* line 817, ../sass/screen.scss */
#ingreso-form span {
  margin: 5px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
