<div id="header-mobile" class="menu-type-mobile">
    <div class="nav-button"
         ng-click="appCtrl.menu_mobile_open = !appCtrl.menu_mobile_open;"
         ng-class="{'nav-button-transformed':appCtrl.menu_mobile_open}">
        <div ng-class="{'nav-button-top-transformed':appCtrl.menu_mobile_open}"></div>
        <div ng-class="{'nav-button-mid-transformed':appCtrl.menu_mobile_open}"></div>
        <div ng-class="{'nav-button-bot-transformed':appCtrl.menu_mobile_open}"></div>
    </div>
    <div class="header-separator"></div>
    <div ng-if="!appCtrl.isLogged" class="desktop-link-login"><a href="#/nuevo_usuario">Registrate</a></div>
    <div ng-if="!appCtrl.isLogged" class="desktop-link-login"><a href="#/ingreso">Ingresá</a></div>
    <div ng-if="appCtrl.isLogged" ><span>Bienvenido {{appCtrl.welcomeTo}} </span><button ng-click="appCtrl.logout();">Salir</button></div>
</div>
<div id="header-desktop" class="menu-type-desktop">
    <div id="header-desktop-left">
        <div class="desktop-link-nav"><a href="#/main">Home</a></div>
        <div class="desktop-link-nav"><a href="#/conozcanos">Conozcanos</a></div>
        <div class="desktop-link-nav"><a href="#/faq">FAQ</a></div>
        <div ng-if="appCtrl.isLogged" class="desktop-link-nav"><a href="#/administracion">Administracion</a></div>
    </div>



    <div id="header-desktop-right">

        <div ng-if="!appCtrl.isLogged" class="desktop-link-login"><a href="#/nuevo_usuario">Registrate</a></div>
        <div ng-if="!appCtrl.isLogged" class="desktop-link-login"><a href="#/ingreso">Ingresá</a></div>
        <div ng-if="appCtrl.isLogged" ><span>Bienvenido {{appCtrl.welcomeTo}} </span><button ng-click="appCtrl.logout();">Salir</button></div>
        Contacto:
        <img src="images/mail.png" alt="" height="20" width="30">
        <img src="images/facebook.png" alt="" height="30" width="30">
    </div>


</div>

<div class="menu-mobile-panel" ng-class="{'menu-mobile-panel-show':appCtrl.menu_mobile_open}">

    <div ng-click="appCtrl.menu_mobile_open=false;"
         ng-class="{'menu-desktop-btn-selected':appCtrl.selectedPage.indexOf(link.nombre) > -1 }"
         class="menu-desktop-btn"><a href="#/main">Home</a></div>
    <div ng-click="appCtrl.menu_mobile_open=false;"
         ng-class="{'menu-desktop-btn-selected':appCtrl.selectedPage.indexOf(link.nombre) > -1 }"
         class="menu-desktop-btn"><a href="#/conozcanos">Conozcanos</a></div>
    <div ng-click="appCtrl.menu_mobile_open=false;"
         ng-class="{'menu-desktop-btn-selected':appCtrl.selectedPage.indexOf(link.nombre) > -1 }"
         class="menu-desktop-btn"><a href="#/faq">FAQ</a></div>
    <div ng-click="appCtrl.menu_mobile_open=false;"
         ng-class="{'menu-desktop-btn-selected':appCtrl.selectedPage.indexOf(link.nombre) > -1 }"
         class="menu-desktop-btn"><a href="#/administracion">Administracion</a></div>

</div>