<div class="administracion-inputs" form-id="proyectos">

    <div class="administracion-input">

        <span>Nombre</span>

        <input ac-validator
               min-length="3;El nombre ingresado debe tener al menos 3 letras"
               max-length="100;El nombre ingresado debe tener menos de 100 caracteres"
               type="text" id="nombre" ng-model="administracionCtrl.proyecto.nombre">

    </div>

    <div class="administracion-input">

        <span>Costo Inicial</span>

        <input ac-validator
               is-required="El costo inicial es requerido"
               type="number" step="1" id="costo_inicial" ng-model="administracionCtrl.proyecto.costo_inicial">

    </div>

    <div class="administracion-input">

        <span>Fecha de Finalización</span>

        <input ac-validator
               is-required="Debe ingresar una fecha de finalización"
               min-date="today;La fecha debe ser mayor a hoy"
               type="date" id="fecha_fin" ng-model="administracionCtrl.proyecto.fecha_fin">

    </div>


    <div class="administracion-input" ng-if="administracionCtrl.user.data.rol == 0">

        <span>Estado</span>

        <select id="rol" ng-model="administracionCtrl.proyecto.status">

            <option value="0">Cancelado</option>

            <option value="1">Activo</option>

        </select>

    </div>

    <div class="administracion-input" ng-if="administracionCtrl.user.data.rol == 0">

        <span>En Slider</span>

        <select id="en_slider" ng-model="administracionCtrl.proyecto.en_slider">

            <option value="0">No</option>

            <option value="1">Si</option>

        </select>

    </div>
    <div class="administracion-input">
        <span>Categoría</span>
        <select ng-click=""
                ng-model="administracionCtrl.proyecto_categoria"
                ng-options="categoria.categoria_id as categoria.nombre for categoria in administracionCtrl.categorias"
                class="">
        </select>
    </div>
    <div class="administracion-input">

        <span>Descripción</span>

        <textarea ac-validator
                  min-length="3;El nombre ingresado debe tener al menos 3 letras"
                  max-length="2000;El nombre ingresado debe tener menos de 2000 caracteres"
                  id="descripcion" ng-model="administracionCtrl.proyecto.descripcion"></textarea>

    </div>
    <div class="administracion-foto">
        <div class="foto">
            <span>Foto 1</span>

            <div id="slider-01-foto" class="input-foto">
                <img ng-src="{{'images/'+administracionCtrl.foto_01}}" alt="" height="50" width="50">
                <input type="file" name="images" id="images"
                       ac-upload-files="administracionCtrl.updateFotoProyecto(selectedFileList,1,'')"/>
            </div>
        </div>

        <div class="foto">
            <span>Foto 2</span>

            <div id="slider-02-foto" class="input-foto">
                <img ng-src="{{'images/'+administracionCtrl.foto_02}}" alt="" height="50" width="50">
                <input type="file" name="images" id="images"
                       ac-upload-files="administracionCtrl.updateFotoProyecto(selectedFileList,2,'')"/>
            </div>
        </div>

        <div class="foto">
            <span>Foto 3</span>

            <div id="slider-03-foto" class="input-foto">
                <img ng-src="{{'images/'+administracionCtrl.foto_03}}" alt="" height="50" width="50">
                <input type="file" name="images" id="images"
                       ac-upload-files="administracionCtrl.updateFotoProyecto(selectedFileList,3,'')"/>
            </div>
        </div>

        <div class="foto">
            <span>Foto 4</span>

            <div id="slider-04-foto" class="input-foto">
                <img ng-src="{{'images/'+administracionCtrl.foto_04}}" alt="" height="50" width="50">
                <input type="file" name="images" id="images"
                       ac-upload-files="administracionCtrl.updateFotoProyecto(selectedFileList,4,'')"/>
            </div>
        </div>
    </div>



    <div class="administracion-button-bar">
        <button ac-validator ng-click="administracionCtrl.createProyecto();">GUARDAR</button>
        <button ng-click="administracionCtrl.removeProyecto();" ng-if="administracionCtrl.user.data.rol == 1">BORRAR
        </button>
        <button ng-click="administracionCtrl.resetProyecto();">CANCELAR</button>
    </div>

</div>






<table id="administracion-proyectos-tabla" class="table table-striped"
       ng-if="administracionCtrl.user.data.rol == 0">

    <tbody>
    <tr>
        <th>Proyecto</th>
        <th>Avance</th>
    </tr>
    <tr ng-repeat="row in administracionCtrl.proyectos"
        ng-click="administracionCtrl.modificarProyecto(row);"
        ng-class="{'tr-selected': row.proyecto_id == administracionCtrl.proyecto.proyecto_id}"
        class="administracion-row">
        <td class="">{{row.nombre}}</td>
        <td class="">
            <ac-progress-bar recaudado="{{row.total_donado}}" objetivo="{{row.costo_inicial}}"
                             hint="false"></ac-progress-bar>
        </td>
    </tr>
    </tbody>
</table>

<div ng-if="administracionCtrl.showJustificaciones">
    <span>Justificación de cambios</span>
        <textarea name="justificacion" id="" cols="30" rows="10"
                  ng-model="administracionCtrl.proyecto.justificacion"></textarea>
    <button ng-click="administracionCtrl.createCambio();">ENVIAR</button>
</div>