<div id="main" ng-controller="MainController as mainCtrl" xmlns="http://www.w3.org/1999/html">

    <div id="main-search-bar">

        <img src="images/lupa.png" alt="" height="80" width="80">

        <input placeholder="Encuentra un proyecto..." type="text" ng-model="appCtrl.textProyecto"
               ng-model-options="{ debounce: 0 }" ng-keypress="">

    </div>

    <div id="main-top-section">


        <div id="main-top-text-panel">

            <img src="images/logo.png" alt="" height="250" width="370">


            <h1>Bienvenido!</h1>


            <div id="main-btn-crear" ng-click="mainCtrl.goToCrear()">

                <p>CREAR</p>

                <span>un nuevo proyecto</span>

            </div>

        </div>

        <div id="main-slider">

            <div ng-class="{'show-slider-proyecto':mainCtrl.slider_nro == 1}" class="main-slider-proyecto">

                <div class="contenedor-foto">
                <img ng-src="images/{{mainCtrl.proyecto_slider_01.fotos[0].nombre}}" alt="">
                </div>

                <h1>{{mainCtrl.proyecto_slider_01.nombre}}</h1>


                <p>{{mainCtrl.proyecto_slider_01.descripcion}}</p>

                <button class="button-ver" ng-click="appCtrl.goToDetalle(mainCtrl.proyecto_slider_01.proyecto_id, '/main')">

                    VER

                </button>

            </div>

            <div ng-class="{'show-slider-proyecto':mainCtrl.slider_nro == 2}" class="main-slider-proyecto">

                <div class="contenedor-foto">
                    <img ng-src="images/{{mainCtrl.proyecto_slider_02.fotos[0].nombre}}" alt="">
                </div>


                <h1>{{mainCtrl.proyecto_slider_02.nombre}}</h1>


                <p>{{mainCtrl.proyecto_slider_02.descripcion}}</p>

                <button class="button-ver" ng-click="appCtrl.goToDetalle(mainCtrl.proyecto_slider_02.proyecto_id, '/main')">

                    VER

                </button>

            </div>

            <div ng-class="{'show-slider-proyecto':mainCtrl.slider_nro == 3}" class="main-slider-proyecto">

                <div class="contenedor-foto">
                    <img ng-src="images/{{mainCtrl.proyecto_slider_03.fotos[0].nombre}}" alt="">
                </div>


                <h1>{{mainCtrl.proyecto_slider_03.nombre}}</h1>


                <p>{{mainCtrl.proyecto_slider_03.descripcion}}</p>

                <button class="button-ver" ng-click="appCtrl.goToDetalle(mainCtrl.proyecto_slider_03.proyecto_id, '/main')">

                    VER

                </button>

            </div>

            <div ng-class="{'show-slider-proyecto':mainCtrl.slider_nro == 4}" class="main-slider-proyecto">

                <div class="contenedor-foto">
                    <img ng-src="images/{{mainCtrl.proyecto_slider_04.fotos[0].nombre}}" alt="">
                </div>


                <h1>{{mainCtrl.proyecto_slider_04.nombre}}</h1>


                <p>{{mainCtrl.proyecto_slider_04.descripcion}}</p>

                <button class="button-ver" ng-click="appCtrl.goToDetalle(mainCtrl.proyecto_slider_04.proyecto_id, '/main')">

                    VER

                </button>

            </div>

        </div>


    </div>


    <div id="proyectos-nuevos">

        <h1><i class="fa fa-lightbulb-o" aria-hidden="true"></i>Proyectos nuevos</h1>
        <div class="separador"></div>


        <div id="main-proyectos-nuevos-list">

            <div class="main-proyecto-nuevo" ng-class="{'first-status':mainCtrl.proyecto_nuevo_01.porc <= 25,
                 'second-status':mainCtrl.proyecto_nuevo_01.porc > 25 && mainCtrl.proyecto_nuevo_01.porc <= 50,
                 'third-status':mainCtrl.proyecto_nuevo_01.porc > 50 && mainCtrl.proyecto_nuevo_01.porc <= 75,
                 'fourth-status':mainCtrl.proyecto_nuevo_01.porc > 75}">

                <div class="main-proyecto-nuevo-foto"><img class="main-img-proyecto"
                                                           ng-src="images/{{mainCtrl.proyecto_nuevo_01.fotos[0].nombre}}"
                                                           alt=""></div>


                <img class="main-button-face" src="images/facebook.png" alt="" height="30" width="30">

                <img class="main-button-twitter" src="images/twitter.png" alt="" height="30" width="30">


                <h2>{{mainCtrl.proyecto_nuevo_01.nombre}}</h2>


                <p>{{mainCtrl.proyecto_nuevo_01.descripcion}}</p>

                <button class="button-ver" ng-click="appCtrl.goToDetalle(mainCtrl.proyecto_nuevo_01.proyecto_id, '/main')">VER

                </button>

                <div class="dias-restantes"><span>{{mainCtrl.proyecto_nuevo_01.faltan}}</span> días restantes... <span

                        class="porcentaje">{{mainCtrl.proyecto_nuevo_01.porc}}%</span></div>

                <ac-progress-bar recaudado="{{mainCtrl.proyecto_nuevo_01.total_donado}}"

                                 objetivo="{{mainCtrl.proyecto_nuevo_01.costo_inicial}}"></ac-progress-bar>

                <div class="donacion-rapida-details">

                    <span>Dona:</span><input ng-model="mainCtrl.donacion_rapida_valor1" type="text">

                    <button ng-click="appCtrl.donacionRapida(mainCtrl.donacion_rapida_valor1, mainCtrl.proyecto_nuevo_01.proyecto_id, mainCtrl.proyecto_nuevo_01.nombre);">

                        OK

                    </button>

                    <button class="button-donacion-rapida"

                            ng-click="appCtrl.donacionRapida(25, mainCtrl.proyecto_nuevo_01.proyecto_id, mainCtrl.proyecto_nuevo_01.nombre);">$25

                    </button>

                    <button class="button-donacion-rapida"

                            ng-click="appCtrl.donacionRapida(50, mainCtrl.proyecto_nuevo_01.proyecto_id, mainCtrl.proyecto_nuevo_01.nombre);">$50

                    </button>

                    <button class="button-donacion-rapida"

                            ng-click="appCtrl.donacionRapida(100, mainCtrl.proyecto_nuevo_01.proyecto_id, mainCtrl.proyecto_nuevo_01.nombre);">$100

                    </button>

                </div>

            </div>


            <div class="main-proyecto-nuevo" ng-class="{'first-status':mainCtrl.proyecto_nuevo_02.porc <= 25,
                 'second-status':mainCtrl.proyecto_nuevo_02.porc > 25 && mainCtrl.proyecto_nuevo_02.porc <= 50,
                 'third-status':mainCtrl.proyecto_nuevo_02.porc > 50 && mainCtrl.proyecto_nuevo_02.porc <= 75,
                 'fourth-status':mainCtrl.proyecto_nuevo_02.porc > 75}">

                <div class="main-proyecto-nuevo-foto"><img class="main-img-proyecto"
                                                           ng-src="images/{{mainCtrl.proyecto_nuevo_02.fotos[0].nombre}}"
                                                           alt=""></div>


                <img class="main-button-face" src="images/facebook.png" alt="" height="30" width="30">

                <img class="main-button-twitter" src="images/twitter.png" alt="" height="30" width="30">


                <h2>{{mainCtrl.proyecto_nuevo_02.nombre}}</h2>


                <p>{{mainCtrl.proyecto_nuevo_02.descripcion}}</p>

                <button class="button-ver" ng-click="appCtrl.goToDetalle(mainCtrl.proyecto_nuevo_02.proyecto_id, '/main')">VER

                </button>

                <div class="dias-restantes"><span>{{mainCtrl.proyecto_nuevo_02.faltan}}</span> días restantes... <span

                        class="porcentaje">{{mainCtrl.proyecto_nuevo_02.porc}}%</span></div>

                <ac-progress-bar recaudado="{{mainCtrl.proyecto_nuevo_02.total_donado}}"

                                 objetivo="{{mainCtrl.proyecto_nuevo_02.costo_inicial}}"></ac-progress-bar>

                <div class="donacion-rapida-details">

                    <span>Dona:</span><input ng-model="mainCtrl.donacion_rapida_valor2" type="text">

                    <button ng-click="appCtrl.donacionRapida(mainCtrl.donacion_rapida_valor2, mainCtrl.proyecto_nuevo_02.proyecto_id, mainCtrl.proyecto_nuevo_02.nombre);">

                        OK

                    </button>

                    <button ng-click="appCtrl.donacionRapida(25, mainCtrl.proyecto_nuevo_02.proyecto_id, mainCtrl.proyecto_nuevo_02.nombre);">$25</button>

                    <button ng-click="appCtrl.donacionRapida(50, mainCtrl.proyecto_nuevo_02.proyecto_id, mainCtrl.proyecto_nuevo_02.nombre);">$50</button>

                    <button ng-click="appCtrl.donacionRapida(100, mainCtrl.proyecto_nuevo_02.proyecto_id, mainCtrl.proyecto_nuevo_02.nombre);">$100

                    </button>

                </div>

            </div>

            <div class="main-proyecto-nuevo" ng-class="{'first-status':mainCtrl.proyecto_nuevo_03.porc <= 25,
                 'second-status':mainCtrl.proyecto_nuevo_03.porc > 25 && mainCtrl.proyecto_nuevo_03.porc <= 50,
                 'third-status':mainCtrl.proyecto_nuevo_03.porc > 50 && mainCtrl.proyecto_nuevo_03.porc <= 75,
                 'fourth-status':mainCtrl.proyecto_nuevo_03.porc > 75}">

                <div class="main-proyecto-nuevo-foto"><img class="main-img-proyecto"
                                                           ng-src="images/{{mainCtrl.proyecto_nuevo_03.fotos[0].nombre}}"
                                                           alt=""></div>


                <img class="main-button-face" src="images/facebook.png" alt="" height="30" width="30">

                <img class="main-button-twitter" src="images/twitter.png" alt="" height="30" width="30">


                <h2>{{mainCtrl.proyecto_nuevo_03.nombre}}</h2>


                <p>{{mainCtrl.proyecto_nuevo_03.descripcion}}</p>

                <button class="button-ver" ng-click="appCtrl.goToDetalle(mainCtrl.proyecto_nuevo_03.proyecto_id, '/main')">VER

                </button>

                <div class="dias-restantes"><span>{{mainCtrl.proyecto_nuevo_03.faltan}}</span> días restantes... <span

                        class="porcentaje">{{mainCtrl.proyecto_nuevo_03.porc}}%</span></div>

                <ac-progress-bar recaudado="{{mainCtrl.proyecto_nuevo_03.total_donado}}"

                                 objetivo="{{mainCtrl.proyecto_nuevo_03.costo_inicial}}"></ac-progress-bar>

                <div class="donacion-rapida-details">

                    <span>Dona:</span><input ng-model="mainCtrl.donacion_rapida_valor3" type="text">

                    <button ng-click="appCtrl.donacionRapida(mainCtrl.donacion_rapida_valor3, mainCtrl.proyecto_nuevo_03.proyecto_id, mainCtrl.proyecto_nuevo_03.nombre);">

                        OK

                    </button>

                    <button ng-click="appCtrl.donacionRapida(25, mainCtrl.proyecto_nuevo_03.proyecto_id, mainCtrl.proyecto_nuevo_03.nombre);">$25</button>

                    <button ng-click="appCtrl.donacionRapida(50, mainCtrl.proyecto_nuevo_03.proyecto_id, mainCtrl.proyecto_nuevo_03.nombre);">$50</button>

                    <button ng-click="appCtrl.donacionRapida(100, mainCtrl.proyecto_nuevo_03.proyecto_id, mainCtrl.proyecto_nuevo_03.nombre);">$100

                    </button>

                </div>

            </div>


        </div>


    </div>

    <div class="imagenes-publicitarias">

        <img class="img-publi" src="images/prueba1.gif" width="2300px" style="margin-left: calc(50% - 1150px)!important;">

    </div>





    <div class="institucional-publicidad parrafo-movido" ac-animate animation-in="parrafo-in">

        <img src="" alt="">


        <h1><b>▣</b> Nuestra misión</h1>


        <h2>Buscamos fomentar la unión y creación de vínculos entre  personas o grupos que tengan un proyecto  con otras que tengan ganas de ayudar a cumplir estas metas a través del financiamiento colectivo.
            Que los proyectos se conviertan en realidad para que cada persona tenga la oportunidad de emprender un camino explotando su potencial y pasión.
            Deseamos que esta aventura de ayudar, esté al alcance de todos.

        </h2>

    </div>





    <div id="proyectos-finalizar">

        <h1><i class="fa fa-hourglass-end" aria-hidden="true"></i>Proyectos por finalizar</h1>


        <div id="main-proyectos-finalizar-list">

            <div class="main-proyecto-finalizar" ng-class="{'first-status':mainCtrl.proyecto_finalizar_01.porc <= 25,
                 'second-status':mainCtrl.proyecto_finalizar_01.porc > 25 && mainCtrl.proyecto_finalizar_01.porc <= 50,
                 'third-status':mainCtrl.proyecto_finalizar_01.porc > 50 && mainCtrl.proyecto_finalizar_01.porc <= 75,
                 'fourth-status':mainCtrl.proyecto_finalizar_01.porc > 75}">

                <div class="main-proyecto-nuevo-foto"><img class="main-img-proyecto"
                                                           ng-src="images/{{mainCtrl.proyecto_finalizar_01.fotos[0].nombre}}"
                                                           alt=""></div>


                <img class="main-button-face" src="images/facebook.png" alt="" height="30" width="30">

                <img class="main-button-twitter" src="images/twitter.png" alt="" height="30" width="30">


                <h2>{{mainCtrl.proyecto_finalizar_01.nombre}}</h2>


                <p>{{mainCtrl.proyecto_finalizar_01.descripcion}}</p>

                <button class="button-ver" ng-click="appCtrl.goToDetalle(mainCtrl.proyecto_finalizar_01.proyecto_id, '/main')">

                    VER

                </button>


                <div class="dias-restantes"><span>{{mainCtrl.proyecto_finalizar_01.faltan}}</span> días
                    restantes... <span

                            class="porcentaje">{{mainCtrl.proyecto_finalizar_01.porc}}%</span></div>


                <ac-progress-bar recaudado="{{mainCtrl.proyecto_finalizar_01.total_donado}}"

                                 objetivo="{{mainCtrl.proyecto_finalizar_01.costo_inicial}}"></ac-progress-bar>

                <div class="donacion-rapida-details">

                    <span>Dona:</span><input ng-model="mainCtrl.donacion_rapida_valor4" type="text">

                    <button ng-click="appCtrl.donacionRapida(mainCtrl.donacion_rapida_valor4, mainCtrl.proyecto_finalizar_01.proyecto_id, mainCtrl.proyecto_finalizar_01.nombre);">

                        OK

                    </button>

                    <button ng-click="appCtrl.donacionRapida(25, mainCtrl.proyecto_finalizar_01.proyecto_id, mainCtrl.proyecto_finalizar_01.nombre);">$25

                    </button>

                    <button ng-click="appCtrl.donacionRapida(50, mainCtrl.proyecto_finalizar_01.proyecto_id, mainCtrl.proyecto_finalizar_01.nombre);">$50

                    </button>

                    <button ng-click="appCtrl.donacionRapida(100, mainCtrl.proyecto_finalizar_01.proyecto_id, mainCtrl.proyecto_finalizar_01.nombre);">$100

                    </button>

                </div>

            </div>

            <div class="main-proyecto-finalizar" ng-class="{'first-status':mainCtrl.proyecto_finalizar_02.porc <= 25,
                 'second-status':mainCtrl.proyecto_finalizar_02.porc > 25 && mainCtrl.proyecto_finalizar_02.porc <= 50,
                 'third-status':mainCtrl.proyecto_finalizar_02.porc > 50 && mainCtrl.proyecto_finalizar_02.porc <= 75,
                 'fourth-status':mainCtrl.proyecto_finalizar_02.porc > 75}">

                <div class="main-proyecto-nuevo-foto"><img class="main-img-proyecto"
                                                           ng-src="images/{{mainCtrl.proyecto_finalizar_02.fotos[0].nombre}}"
                                                           alt=""></div>


                <img class="main-button-face" src="images/facebook.png" alt="" height="30" width="30">

                <img class="main-button-twitter" src="images/twitter.png" alt="" height="30" width="30">


                <h2>{{mainCtrl.proyecto_finalizar_02.nombre}}</h2>


                <p>{{mainCtrl.proyecto_finalizar_02.descripcion}}</p>

                <button class="button-ver" ng-click="appCtrl.goToDetalle(mainCtrl.proyecto_finalizar_02.proyecto_id, '/main')">

                    VER

                </button>

                <div class="dias-restantes"><span>{{mainCtrl.proyecto_finalizar_02.faltan}}</span> días
                    restantes... <span

                            class="porcentaje">{{mainCtrl.proyecto_finalizar_02.porc}}%</span></div>

                <ac-progress-bar recaudado="{{mainCtrl.proyecto_finalizar_02.total_donado}}"

                                 objetivo="{{mainCtrl.proyecto_finalizar_02.costo_inicial}}"></ac-progress-bar>

                <div class="donacion-rapida-details">

                    <span>Dona:</span><input ng-model="mainCtrl.donacion_rapida_valor5" type="text">

                    <button ng-click="appCtrl.donacionRapida(mainCtrl.donacion_rapida_valor5, mainCtrl.proyecto_finalizar_02.proyecto_id, mainCtrl.proyecto_finalizar_02.nombre);">

                        OK

                    </button>

                    <button ng-click="appCtrl.donacionRapida(25, mainCtrl.proyecto_finalizar_02.proyecto_id, mainCtrl.proyecto_finalizar_02.nombre);">$25

                    </button>

                    <button ng-click="appCtrl.donacionRapida(50, mainCtrl.proyecto_finalizar_02.proyecto_id, mainCtrl.proyecto_finalizar_02.nombre);">$50

                    </button>

                    <button ng-click="appCtrl.donacionRapida(100, mainCtrl.proyecto_finalizar_02.proyecto_id, mainCtrl.proyecto_finalizar_02.nombre);">$100

                    </button>

                </div>

            </div>

            <div class="main-proyecto-finalizar" ng-class="{'first-status':mainCtrl.proyecto_finalizar_03.porc <= 25,
                 'second-status':mainCtrl.proyecto_finalizar_03.porc > 25 && mainCtrl.proyecto_finalizar_03.porc <= 50,
                 'third-status':mainCtrl.proyecto_finalizar_03.porc > 50 && mainCtrl.proyecto_finalizar_03.porc <= 75,
                 'fourth-status':mainCtrl.proyecto_finalizar_03.porc > 75}">

                <div class="main-proyecto-nuevo-foto"><img class="main-img-proyecto"
                                                           ng-src="images/{{mainCtrl.proyecto_finalizar_03.fotos[0].nombre}}"
                                                           alt=""></div>


                <img class="main-button-face" src="images/facebook.png" alt="" height="30" width="30">

                <img class="main-button-twitter" src="images/twitter.png" alt="" height="30" width="30">


                <h2>{{mainCtrl.proyecto_finalizar_03.nombre}}</h2>


                <p>{{mainCtrl.proyecto_finalizar_03.descripcion}}</p>

                <button class="button-ver" ng-click="appCtrl.goToDetalle(mainCtrl.proyecto_finalizar_03.proyecto_id, '/main')">

                    VER

                </button>

                <div class="dias-restantes"><span>{{mainCtrl.proyecto_finalizar_03.faltan}}</span> días
                    restantes... <span

                            class="porcentaje">{{mainCtrl.proyecto_finalizar_03.porc}}%</span></div>

                <ac-progress-bar recaudado="{{mainCtrl.proyecto_finalizar_03.total_donado}}"

                                 objetivo="{{mainCtrl.proyecto_finalizar_03.costo_inicial}}"></ac-progress-bar>

                <div class="donacion-rapida-details">

                    <span>Dona:</span><input ng-model="mainCtrl.donacion_rapida_valor6" type="text">

                    <button ng-click="appCtrl.donacionRapida(mainCtrl.donacion_rapida_valor6, mainCtrl.proyecto_finalizar_03.proyecto_id, mainCtrl.proyecto_finalizar_03.nombre);">

                        OK

                    </button>

                    <button ng-click="appCtrl.donacionRapida(25, mainCtrl.proyecto_finalizar_03.proyecto_id, mainCtrl.proyecto_finalizar_03.nombre);">$25

                    </button>

                    <button ng-click="appCtrl.donacionRapida(50, mainCtrl.proyecto_finalizar_03.proyecto_id, mainCtrl.proyecto_finalizar_03.nombre);">$50

                    </button>

                    <button ng-click="appCtrl.donacionRapida(100, mainCtrl.proyecto_finalizar_03.proyecto_id, mainCtrl.proyecto_finalizar_03.nombre);">$100

                    </button>

                </div>

            </div>


        </div>


    </div>

    <div class="imagenes-publicitarias">

        <img src="images/prueba2.gif" width="2300px" height="530px" style="margin-left: calc(50% - 1150px)!important;">

    </div>



    <div class="institucional-publicidad parrafo-movido" ac-animate animation-in="parrafo-in">

        <img src="" alt="">


        <h1><b>▣</b> Que buscamos</h1>


        <h2>Fomentar la unión y creación de vínculos entre personas o grupos que tengan grandes ambiciones con otras que tengan ganas de aportar capital a cada uno de los proyectos de interés.
            Deseamos que esta aventura que es ayudar, esté al alcance de todos. Hoy en dia hace falta informar a mucha gente la cantidad de talento sin explotar en muchísima gente  por falta de recursos. Hoy en dia son muchas las asociaciones amateurs o semi profesionales que requieren de ayuda monetaria  para poder lograr sus metas extracurriculares, deportivas o sociodeportivas.
            Estamos hablando de torneos, Indumentaria, accesorios de entrenamiento,  viaticos, cursos de idioma, exámenes internacionales, cuotas mensuales de actividades, etc.


        </h2>

    </div>




    <div id="main-nuestras-empresas">

        <h1><i class="fa fa-users" aria-hidden="true"></i>Nuestras Empresas</h1>


        <div id="main-nuestras-empresas-list">

            <div class="main-empresa"></div>

            <div class="main-empresa"></div>

            <div class="main-empresa"></div>

            <div class="main-empresa"></div>

            <div class="main-empresa"></div>

            <div class="main-empresa"></div>

            <div class="main-empresa"></div>

            <div class="main-empresa"></div>
            <div class="main-empresa"></div>
            <div class="main-empresa"></div>
            <div class="main-empresa"></div>
            <div class="main-empresa"></div>

        </div>


    </div>


    <div id="contacto-container" form-id="contacto">


        <h1><i class="fa fa-envelope-o" aria-hidden="true"></i>
            Contacto</h1>


        <div id="contacto-form">

            <div class="contacto-panel">


                <span>Nombre</span>


                <input ac-validator is-required="Debe ingresar un nombre" ng-model="mainCtrl.nombre" type="text" id="contacto-nombre">


                <span>Email</span>


                <input ac-validator is-mail="El mail es incorrecto" ng-model="mainCtrl.email" type="text" id="contacto-mail">


                <span>Asunto</span>


                <input ac-validator is-required="Debe ingresar un tema de consulta" ng-model="mainCtrl.asunto" type="text" id="contacto-asunto">


            </div>


            <div class="contacto-panel">


                <span>Escriba aqu&iacute su consulta</span>



            <textarea ac-validator is-required="Debe ingresar una consulta" class="textoareaconsulta" ng-model="mainCtrl.mensaje" name="" id="contacto-consulta"

                      rows="10"></textarea>


            </div>

        </div>


        <fieldset ng-disabled="vm.enviando" class="contacto-panel contacto-enviar-mobile">


            <button id="contacto-enviar-mobile" ac-validator ng-click="mainCtrl.sendMail();">Enviar</button>


        </fieldset>


    </div>


</div>