/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass";
@import "compass/reset";
//@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);

//animaciones
@-webkit-keyframes fadeinleft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }

  90% {
    opacity: 0;
    -webkit-transform: translateX(40%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}

@-webkit-keyframes up {
  0% {
    -webkit-transform: translateY(0px);
  }

  50% {
    -webkit-transform: translateY(-5px);
  }

  100% {
    -webkit-transform: translateY(0px);
  }
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: translateY(-500px);
    -ms-transform: scale(.5); /* IE 9 */
    transform: scale(.5);
    opacity: 0;
  }

   100% {
    -webkit-transform: translateY(0px);
     -ms-transform: scale(1); /* IE 9 */
     transform: scale(1);
     opacity: 1;
  }
}

//animaciones

// GENERALES
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Droid Sans', sans-serif;
}

.a0-emailPassword {
  visibility: collapse !important;
  display: none !important;
}

a {
  text-decoration: none;
  color: white;
}

button {
  border-style: none;

}

.colores {
  //margin-bottom: 10px;
  //margin-top: 10px;

  div {
    width: 100%;
    height: 12px;
  }
  div:nth-child(1) {
    background-color: rgb(163, 243, 165);
  }
  div:nth-child(2) {
    background-color: rgb(217, 239, 66);
  }
  div:nth-child(3) {
    background-color: rgb(251, 179, 48);
  }
  div:nth-child(4) {
    background-color: rgb(227, 0, 27);
  }
}

#ac-progress-bar {
  max-width: 95%;
}

.donacion-rapida-details {
  background-color: red;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 5px;
  height: 39px;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);
  input {
    font-size: 16px;
    font-weight: bold;
    background-color: lightgrey;
    max-width: 40px;
    max-height: 18px;
    margin: 5px;
    border-radius: 4px;
  }

  button {
    font-size: 18px;
    background-color: transparent;
    color: white;
    border-style: none;

  }
  span {
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    font-size: 22px;
    height: 39px;
    color: white;
    margin-left: 5px;

  }

}

table {
  max-width: 100%;
  width: 100%;
  table-layout: fixed;
}

.error-input {
  background-color: orangered;
  border: dotted 2px white;

}

// View
.view {

  position: relative;
  /*  position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;*/
}

.view.ng-enter,
.vista {
  @media(min-width: 800px) {
    background-position: 100% 50% !important;
    -webkit-animation: view-in 10s;
    -o-animation: view-in 10s;
    animation: view-in 10s;
  }
}

.view.ng-leave {
  @media(min-width: 800px) {
    -webkit-animation: view-out 0.7s;
    -o-animation: view-out 0.7s;
    animation: view-out 0.7s;
  }
}

@keyframes view-in {
  0% {
    background-position: 0% 50%
  }
  100% {
    background-position: 100% 50%
  }
}

/*
@keyframes view-in {
  0% {
    //opacity: 0;
    //-webkit-clip-path: circle(0% at 0% 0%);
    //-webkit-clip-path: inset(0px 100% 0px 0px);
    //clip-path: inset(0px 100% 0px 0px);
    @include background-image(linear-gradient(to right, white 0%, rgb(251, 179, 48) 1%));

    //position: absolute;
    //left: 0;
    //top: 0;
    //bottom: 0;
    //right: 0;

    //-webkit-transform: translate(-10000px, 0);
    //-moz-transform: translate(-10000px, 0);
    //-ms-transform: translate(-10000px, 0);
    //-o-transform: translate(-10000px, 0);
    //transform: translate(-10000px, 0);
  }
  100% {
    //opacity: 1;
    //position: relative;
    //-webkit-clip-path: circle(200% at 0% 0%);
    //-webkit-clip-path: inset(0px 0px 0px 0);
    //clip-path: inset(0px 0px 0px 0);
    @include background-image(linear-gradient(to right, white 0%, rgb(251, 179, 48) 100%));
    //-webkit-transform: translate(0, 0);
    //-moz-transform: translate(0, 0);
    //-ms-transform: translate(0, 0);
    //-o-transform: translate(0, 0);
    //transform: translate(0, 0);
  }
}*/

@keyframes view-out {
  0% {
    opacity: 1;
    position: relative;
    //-webkit-clip-path: circle(200% at 0% 0%);
    //-webkit-transform: translate(0, 0);
    //-moz-transform: translate(0, 0);
    //-ms-transform: translate(0, 0);
    //-o-transform: translate(0, 0);
    //transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    //-webkit-clip-path: circle(0% at 0% 0%);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    //-webkit-transform: translate(-10000px, 0);
    //-moz-transform: translate(-10000px, 0);
    //-ms-transform: translate(-10000px, 0);
    //-o-transform: translate(-10000px, 0);
    //transform: translate(-10000px, 0);
  }
}

// Mensajes
.error-message {
  color: white;
  font-family: 'Droid Sans', sans-serif;
  div{
    color: white;
  }
}

.success-message {
  background-color: greenyellow;
  color: white;
}

.ac-mensaje-custom-show {
  background-color: white;
  padding: 10px;
  color: darkgray;
  width: 100%;
  height: 30px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 20px;
  font-style: bolder;
  text-align: center;
  -webkit-animation: show-mensaje 1s ease;
  -o-animation: show-mensaje 1s ease;
  animation: show-mensaje 1s ease;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

@-webkit-keyframes show-mensaje {
  0% {
    opacity: 0;

  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;

  }

}

input{
  padding: 3px;
  font-family: 'Droid Sans', serif;
  font-size: 14px;
  font-weight: lighten;
  border-style: none;
}

// HEADER

#header-mobile {
  display: flex;
  height: 50px;
  background: darkorange;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  span{
    color: white;
    padding-top: 25px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .header-separator {
    height: 40px;
    margin-top: 5px;
    width: 2px;
    margin-left: 20px;
    background-color: white;
  }

  .logo {
    flex: 5;
    padding: 5px;
    margin-right: 15px;
    text-align: right;
    background-color: green;
  }
}

#header-categorias-mobile {
  margin: 10px;
  font-size: 18px;
  color: lightgray;

}

#header-desktop {
  top: .0px;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fa9819;
  width: 100%;
  background: white;
  //background: -moz-linear-gradient(top, #e2e2e2 0%, #ffffff 50%, #eaeaea 100%);
  //background: -webkit-linear-gradient(top, #e2e2e2 0%, #ffffff 50%, #eaeaea 100%);
  //background: linear-gradient(to bottom, #e2e2e2 0%, #ffffff 50%, #eaeaea 100%);
  //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2', endColorstr='#eaeaea', GradientType=0);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  z-index: 100;
  padding: 10px;

  #header-desktop-left,
  #header-desktop-right {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    img:hover{
      cursor: pointer;
      -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
      -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);

    }
    @media (min-width: 1300px) {
      max-width: 650px;
    }
  }

  #header-desktop-left {
    justify-content: flex-start;
  }

  #header-desktop-right {
    justify-content: flex-end;
    button {
      font-family: 'Droid Sans', sans-serif;
      font-size: 16px;
      color: #00a148;
      text-decoration: underline;

        }
    .desktop-link-login {
      a, span {
        color: rgb(250, 152, 25);
        padding: 10px;
      }
    }
  }

  #header-desktop-right button:hover{
      color: red;
      cursor:pointer;

  }

  #header-desktop-right img {
    margin-left: 10px;

  }

  .desktop-link-nav {
    a {
      padding: 10px;
      font-family: 'Droid Sans', sans-serif;
      color: black;
    }
  }

  button {
    background-color: rgba(0, 0, 0, 0);
    border: 0 solid;
    color: rgb(0, 161, 82);
  }
}

.Contenedor-menu-sub {
  background-color: white;
  position: absolute;
  opacity: 0;
  display: none;
  border-radius: 5px;
  //-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  //-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  //box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
}

.desktop-link-nav div {
  margin-top: 12px;
  margin-bottom: 10px;
  padding: 4px;
}

.desktop-link-nav a:hover,
.desktop-link-login a:hover {
  color: white;
  background-color: #18e21c;   border-radius: 5px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.desktop-link-nav:hover {
  .Contenedor-menu-sub {
    opacity: 1;
    display: inline;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
   -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
}

.menu-type-desktop {
  @media (max-width: 799px) {
    visibility: collapse;
    display: none !important;
  }
}

.menu-type-mobile {
  @media (min-width: 800px) {
    visibility: collapse;
    display: none !important;
  }
}

.nav-button {
  flex: 1;

  margin-top: 10px;
  margin-left: 10px;
  width: 50px;

  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;

  transform-origin: 13px 13px;
  transform-style: preserve-3D;

  div {
    cursor: pointer;
    width: 25px;
    height: 4px;
    border-radius: 2px;
    background-color: #ffffff;
    margin: 4px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }

  .nav-button-top-transformed {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .nav-button-mid-transformed {
    -webkit-transform: translate(-3px, 0px);
    -moz-transform: translate(-3px, 0px);
    -ms-transform: translate(-3px, 0px);
    -o-transform: translate(-3px, 0px);
    transform: translate(-3px, 0px);
  }
  .nav-button-bot-transformed {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.nav-button-transformed {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.menu-mobile-panel {
  font-family: 'Droid Sans', sans-serif;
  font-size: 24px;
  width: 70%;
  color: white;
  background: rgb(255, 168, 76);
  position: fixed;
  bottom: 0px;
  top: 50px;
  z-index: 500;
  height: 100%;
  //border: 5px solid white;

  .menu-desktop-btn {
    margin-top: 15px;
    color: white;
    font-family: 'Droid Sans', serif;
    line-height: 24px;
    padding: 5px;
    font-variant: all-petite-caps;
  }

  -webkit-transform: translate(-1000px, 0);
  -moz-transform: translate(-1000px, 0);
  -ms-transform: translate(-1000px, 0);
  -o-transform: translate(-1000px, 0);
  transform: translate(-1000px, 0);

  @media (min-width: 800px) {
    visibility: collapse;
    display: none;
  }
}

.menu-mobile-panel-show {
  -webkit-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  -o-transform: translate(0px, 0);
  transform: translate(0px, 0);
}

.menu-mobile-panel-show-add {
  -webkit-animation: menu-mobile-enter 0.4s;
  -o-animation: menu-mobile-enter 0.4s;
  animation: menu-mobile-enter 0.4s;
}

.menu-mobile-panel-show-remove {

  -webkit-animation: menu-mobile-leave 0.4s;
  -o-animation: menu-mobile-leave 0.4s;
  animation: menu-mobile-leave 0.4s;
}

@keyframes menu-mobile-enter {
  0% {
    -webkit-transform: translate(-1000px, 0);
    -moz-transform: translate(-1000px, 0);
    -ms-transform: translate(-1000px, 0);
    -o-transform: translate(-1000px, 0);
    transform: translate(-1000px, 0);
  }
  100% {
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }
}

@keyframes menu-mobile-leave {
  0% {
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }
  100% {
    -webkit-transform: translate(-1000px, 0);
    -moz-transform: translate(-1000px, 0);
    -ms-transform: translate(-1000px, 0);
    -o-transform: translate(-1000px, 0);
    transform: translate(-1000px, 0);
  }
}

// MAIN
#main {
  margin-top: 50px;
  background: #ffffff;
  background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: radial-gradient(ellipse at center, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=1);

  @media (min-width: 800px) {
    margin-top: 30px;
  }
}

#main-search-bar {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  width: 100%;
  background-color: rgba(250, 152, 25, 1);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-height: 35px;
  margin-top: 70px;
  @media(max-width: 400px) {
    margin-top: 80px;

  }

  ::-webkit-input-placeholder {
    color: white;
    font-size: 18px;
    height: 22px;
    border-style: none;
  }
  /* WebKit */
  :-moz-placeholder {
    color: white;
    font-size: 18px;
    height: 22px;
    border-style: none;
  }
  /* Firefox 18- */
  ::-moz-placeholder {
    color: white;
    font-size: 18px;
    height: 22px;
    border-style: none;
  }
  /* Firefox 19+ */
  :-ms-input-placeholder {
    color: white;
    font-size: 18px;
    height: 22px;
    border-style: none;
  }
  /* IE 10+ */

  input {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    margin-top: 5px;
    font-size: 18px;
    height: 22px;
    width: 100%;
    border-style: none;

  }

  img {
    margin-left: 40px;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    margin-top: -10px;
    @media(max-width: 400px) {
      margin-left: 5px;

    }

  }
}

.imagenes-publicitarias {
  text-align: center;
  overflow: hidden;
  //margin-top: 10px;
  margin-bottom: 30px;
}

#main-top-section {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  align-items: center;
  margin: auto;
  margin-bottom: 50px;

  @media (min-width: 800px) {
    flex-direction: row;

  }

  h1 {
    margin-bottom: 20px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 65px;
    color: rgba(250, 152, 25, 1);
    font-weight: bold;
    @media (max-width: 380px) {
      font-size: 60px;
    }
  }

  #main-top-text-panel {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50%;
    @media (min-width: 1200px) {
      max-width: 600px;
    }

  }

  .imagenes-publicitarias img {
    text-align: center;
    align-items: center

  }

  #main-btn-crear {
    background-color: rgb(0, 161, 72);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
    p {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 3px;
    }
    span {
      font-size: 14px;
    }
  }

  #main-btn-crear:hover {
    cursor: pointer;
    background-color: orange;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  .contenedor-foto{
    text-align: center;
    align-content: center;
    overflow: hidden;
    width: 100%;
    height: 150px;
    border: 2px solid white;


  }

  #main-slider {
    width: 94%;
    max-width: 98%;
    height: 300px;
    position: relative;

    h1 {
      color: black;
      font-family: 'Droid Sans', sans-serif;
      font-weight: bold;
      font-size: 30px;
      text-transform: uppercase;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    p {
      font-family: 'Droid Sans', sans-serif;
      font-size: 16px;
      margin-bottom: 20px;
      max-height: 16px;
      overflow: hidden;

    }
    img {
      height: 150px;
      vertical-align: middle;

    }

    .button-ver {
      width: 54px;
      height: 32px;
      font-family: 'Droid Sans', sans-serif;
      font-weight: bold;
      background-color: rgb(0, 161, 72);
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      margin-bottom:10px;
      color: white;
      padding: 5px;
      align-items: center;
      outline: none;
    }

    .button-ver:hover {
      cursor: pointer;
      background-color: orange;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
    }

    @media (min-width: 800px) {
      max-width: 50%;
    }
    @media (min-width: 1200px) {
      max-width: 600px;
    }
    //overflow: hidden;
    .main-slider-proyecto {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 94%;
      height: 98%;
      margin: auto;
      background-color: #97f49d;
      z-index: 0;
      padding: 10px;
      border: 2px solid white;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;

      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
    }
  }
}

.main-proyecto-nuevo-foto {
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 120px;
  margin-bottom: 10px;
  vertical-align: middle;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
}

#proyectos-nuevos,
#proyectos-finalizar,
#resultados {
  max-width: 100%;

  h1 {
    width: 100%;
    color: white;
    padding: 10px 0 10px 0;
    font-size: 26px;
    text-align: center;
  }

  #lista-resultados {
    @media (min-width: 1300px) {
      flex-wrap: wrap;
    }
  }

  #main-proyectos-nuevos-list,
  #lista-resultados,
  #main-proyectos-finalizar-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding: 15px;
    @media (min-width: 800px) and (max-width: 1299px) {
      justify-content: center;
      max-width: 100%;
      flex-wrap: wrap;
      flex-direction: row;
    }

    @media (min-width: 1300px) {
      flex-direction: row;
      justify-content: center;
      max-width: 100%;


    }

    .main-proyecto-nuevo,
    .main-proyecto-finalizar {
      width: 320px;
      height: 500px;
      background-color: white;
      margin-left: 10px;
      margin-right: 10px;
      display: flex;
      flex-direction: column;
      padding: 15px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      border-radius: 12px;
      margin-bottom: 10px;
      position: relative;
      -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);
      -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);
      box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);

      .main-img-proyecto {
        height: 100%;
        vertical-align: middle;
      }

      p {
        height: 300px;
        line-height: 17px;
        font-family: 'Droid Sans', sans-serif;
        font-size: 15px;
        overflow: auto;
        margin-bottom: 10px;
      }

      @media (min-width: 1200px) {
        max-width: 400px;
      }

      #ac-progress-bar {
        opacity: .7;
        margin-bottom: 10px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);
        -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);
        box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);
      }

      .ac-progress-first,
      .ac-progress-second,
      .ac-progress-third,
      .ac-progress-fourth {
        width: 14px;
        height: 28px;
        -webkit-border-radius: 4.5px;
        -moz-border-radius: 4.5px;
        border-radius: 4.5px;

      }

      h2 {
        font-family: 'Droid Sans', serif;
        font-weight: bold;
        font-size: 30px;
        text-transform: uppercase;
        text-align: center;
        margin-top: 10px;
        height: 70px;
      }

      p {
        height: 90px;
        font-family: 'Droid Sans', serif;
        font-size: 15px;
        text-align: left;
        margin-top: 10px;

      }

      .button-ver {
        font-family: 'Droid Sans', sans-serif;
        font-weight: bold;
        width: 54px;
        height: 32px;
        background-color: rgb(0, 161, 72);
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        color: white;
        padding: 5px;
        align-items: center;
        outline: none;
      }

      .button-ver:hover {
        cursor: pointer;
        background-color: orange;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;

      }

      .button-donacion-rapida {
      }

      span {
        font-family: 'Droid Sans', serif;
        margin-top: 10px;

      }

      button:hover {
        color: black;
        background-color: white;
        cursor: pointer;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
      }

    }

    .main-button-face,
    .main-button-twitter {
      position: absolute;
      right: 20px;
      top: 20px;
      -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
      -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
      border-style: none;

    }

    .main-button-twitter {
      top: 55px;

    }

    .main-proyecto-nuevo {
      border: 2px solid rgb(227, 0, 27);
    }

    .main-proyecto-finalizar {
      border: 2px solid rgb(73, 182, 122);
    }
  }

}

#proyectos-finalizar{
  margin-top: 30px;
}

#main-proyectos-nuevos-list{
  background: -moz-linear-gradient(top,  rgba(255,160,160,1) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(top,  rgba(255,160,160,1) 0%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom,  rgba(255,160,160,1) 0%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa0a0', endColorstr='#00ffffff',GradientType=0 );

}

#main-proyectos-finalizar-list{
  background: -moz-linear-gradient(top,  rgba(145,255,156,1) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(top,  rgba(145,255,156,1) 0%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom,  rgba(145,255,156,1) 0%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91ff9c', endColorstr='#00ffffff',GradientType=0 );



}


#proyectos-nuevos {
  h1 {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
    background-color: rgb(227, 0, 27);
  }
}

#proyectos-finalizar {

  h1 {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
    background-color: rgb(24, 226, 28);
  }
}


.main-proyecto-nuevo:hover,
.main-proyecto-finalizar:hover {

   -webkit-animation: up 1s; /* Safari 4+ */
   -moz-animation:    up 1s; /* Fx 5+ */
   -o-animation:      up 1s;/* Opera 12+ */
   animation: up 1s; /* IE 10+, Fx 29+ */
   -webkit-transition: all 1s cubic-bezier(.98,0,1,.28);
   -moz-transition: all 1s cubic-bezier(.98,0,1,.28);
   -o-transition: all 1s cubic-bezier(.98,0,1,.28);
   transition: all 1s cubic-bezier(.98,0,1,.28);
                         }





.show-slider-proyecto {
  opacity: 1 !important;
  z-index: 0;
}

#main-nuestras-empresas {
  padding-top: 30px;
  padding-bottom: 30px;

  h1 {
    margin-bottom: 20px;
    font-size: 45px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  #main-nuestras-empresas-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 900px;
    .main-empresa {
      height: 120px;
      width: 120px;
      min-height: 120px;
      min-width: 120px;
      background-color: #b3d4fc;
      margin: 10px;
      -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
      -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
    }
  }

}

#contacto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(250, 152, 25, 1);
  margin-top: 20px;
  padding-bottom: 20px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Droid Sans";
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    color: white;

  }

  input {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 270px;
    height: 21px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-style: none;

  }

  span {
    font-family: "Droid Sans";
    font-size: 18px;
    color: white;

  }

  textarea {
    margin-top: 10px;
    width: 257px;
    height: 170px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-style: none;

  }

  #contacto-enviar-mobile {
    font-family: 'Droid Sans', sans-serif;
    font-size: 18px;
    background-color: white;
    width: 70px;
    height: 40px;
    color: black;
    border-color: black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    }

  #contacto-enviar-mobile:hover{
    color: white;
    border: 1px solid white;
    background-color: darkorange;
    cursor: pointer;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;


  }

  #contacto-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 800px) {
      flex-direction: row;
    }
    .contacto-panel {
      margin: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        width: 100%;
        text-align: left;

      }
    }

  }
}

// ADMINISTRACION
.administracion-button-bar {
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
 }

#administracion {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background: linear-gradient(185deg, #6c0e0e, #0f7f0e);
  background-size: 400% 400%;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  input {
    height: 30px;
  }
  span {
    margin-bottom: 5px;
    color: white;

  }
  button,
  .boton-admin button,
  .boton-datos {
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    background-color: white;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: black;
    padding: 5px;
    margin: 5px;
    align-items: center;
    outline: none;
      }

  .boton-admin button:hover,
  .boton-datos:hover,
  button:hover{
      background-color: darkorange;
      color: white;
      cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;

  }
  #ac-progress-bar {
    margin-bottom: 10px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);
    background-color: white;
  }

  @media (min-width: 400px) {
    .administracion-inputs {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;

      .administracion-input {
        max-width: 400px;
        width: 400px;

      }
    }
  }

  #rol {
    margin: 5px;
    height: 30px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;

  }

  .administracion-foto {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 100%;
    @media (min-width: 400px) {
      max-width: 400px;
      min-width: 400px;
    }

    .foto {

      position: relative;
      .input-foto {
        width: 50px;
        height: 50px;
        top: 0;
        left: 0;
      }

      input {
        position: absolute;
        width: 50px;
        height: 50px;
        opacity: 0;
        top: 0;
        left: 0;
      }

    }
  }

  .administracion-input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
    select {
      margin: 5px;
      height: 30px;
      font-family: 'Droid Sans', sans-serif;
      font-size: 16px;
    }

  }

  td {
    max-width: 50% !important;
  }

  #administracion-main,
  #administracion-usuarios-tabla {
    margin-top: 50px;
    margin-bottom: 10px;
    max-width: 850px;

  }

  #administracion-usuarios-tabla,
  #administracion-aportes-tabla,
  #administracion-proyectos-tabla,
  #administracion-categorias-tabla {
    margin-top: 20px;
    background: rgb(255, 168, 76);
    background: -moz-linear-gradient(45deg, rgb(255, 168, 76) 0%, rgb(255, 123, 13) 100%);
    background: -webkit-linear-gradient(45deg, rgb(255, 168, 76) 0%, rgb(255, 123, 13) 100%);
    background: linear-gradient(45deg, rgb(255, 168, 76) 0%, rgb(255, 123, 13) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa84c', endColorstr='#ff7b0d', GradientType=1);
    font-family: 'Droid Sans', sans-serif;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);

    @media(max-width: 400px) {
      margin: 20px;

    }
  }

  #administracion-main th, td {
    text-align: center;
    color: black;
    margin: 5px;
    padding: 10px;

  }

  #administracion-main th {
    background-color: white;
    color: #b84e11;
    font-weight: bolder;
    input {
      margin-bottom: 10px;

    }

  }

  #ac-progress-bar {
    max-width: 100%;
  }

  .administracion-row:hover,
  .tr-selected {
    background-color: white;
    cursor: pointer;

  }

}

#administracion-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: center;
  background: rgb(255, 168, 76);
  background: -moz-linear-gradient(top, rgb(255, 168, 76) 0%, rgb(255, 123, 13) 100%);
  background: -webkit-linear-gradient(top, rgb(255, 168, 76) 0%, rgb(255, 123, 13) 100%);
  background: linear-gradient(to bottom, rgb(255, 168, 76) 0%, rgb(255, 123, 13) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa84c', endColorstr='#ff7b0d', GradientType=0);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  :hover {
    cursor: pointer;
    color: darkorange;
    background-color: white;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;

  }

  @media(max-width: 400px) {
    margin-top: 50px;

  }

  div {
    font-family: 'Droid Sans', sans-serif;
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    @media(max-width: 400px) {
      width: 100%;
      margin-top: 10px;
      font-size: 20px;

    }
  }

}

.institucional-publicidad {
  margin: auto;
  max-width: 2400px;
  padding: 30px;

  h1 {
    margin: 10px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 45px;
    font-weight: bold;
    @media (max-width: 400px){
      font-size: 40px;
    }
  }

  h2 {
    margin: 10px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-align: justify;

  }

}

#adminitracion-cambios {
  text-align: center;
  input {
    height: 30px;
    width: 320px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-style: none;
    margin-bottom: 10px;
    color: black;
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
    padding: 5px;
  }
  #cambios-comparacion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 10px;

    #cambios-original,
    #cambios-modificado {
      margin: 5px;
      padding: 10px;
      min-width: calc(100% - 50px);
      max-width: 400px;
      display: flex;
      flex-direction: column;
      border: 3px solid #ff9900;
      background-color: white;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;

      @media (min-width: 800px) {
        width: calc(50% - 45px);
        min-width: calc(50% - 45px);

      }

      h2 {
        font-weight: 700;
        font-size: 28px;
      }

      p {
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: 600;
        font-size: 20px;
        font-family: 'Droid Sans', sans-serif;

      }

      span {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 16px;
        font-family: 'Droid Sans', sans-serif;
        color: #ff9900;
      }

    }
  }
}

//.institucional-publicidad:hover{
//    -webkit-animation: fadeinleft 300ms ease-in-out;
//-moz-animation: fadeinleft 300ms ease-in-out;
//-o-animation: fadeinleft 300ms ease-in-out;
//animation: fadeinleft 300ms ease-in-out;
//}



.parrafo-in {
  -webkit-animation: parrafo-in 1s ease;
  -o-animation: parrafo-in 1s ease;
  animation: parrafo-in 1s ease;
  -webkit-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  -o-transform: translate(0px, 0);
  transform: translate(0px, 0);
}

@keyframes parrafo-in {
  0% {

    opacity: 0;
    -webkit-transform: translate(-1000px, 0);
    -moz-transform: translate(-1000px, 0);
    -ms-transform: translate(-1000px, 0);
    -o-transform: translate(-1000px, 0);
    transform: translate(-1000px, 0);
  }

  65% {
    opacity: .1;


  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    transform: translate(0px, 0);

  }

}

.parrafo-out {
  background-color: blue !important;
}

.administracion-input input {
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  border-style: none;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;

}

.dias-restantes {
  color: black;
  font-size: 18px;
  text-align: left;
}

.porcentaje {
  font-size: 50px;
  color: black;
  align-items: flex-end;

}

.contenedor-ingreso,
.contenedor-nuevo-usuario {
  min-width: 328px;
  max-width: 600px;
  width: 328px;
  margin: auto;
  padding: 10px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 4px solid white;
  background: #596a72;
  background: -moz-linear-gradient(top, #596a72 0%, #a0acb2 100%);
  background: -webkit-linear-gradient(top, #596a72 0%, #a0acb2 100%);
  background: linear-gradient(to bottom, #596a72 0%, #a0acb2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#596a72', endColorstr='#a0acb2', GradientType=0);
  -webkit-animation: scale 1s; /* Safari 4+ */
  -moz-animation: scale 1s; /* Fx 5+ */
  -o-animation: scale 1s;/* Opera 12+ */
  animation: scale 1s; /* IE 10+, Fx 29+ */
  -webkit-transition: all 1s cubic-bezier(.98,0,1,.28);
  -moz-transition: all 1s cubic-bezier(.98,0,1,.28);
  -o-transition: all 1s cubic-bezier(.98,0,1,.28);
  transition: all 1s cubic-bezier(.98,0,1,.28);

}

.contenedor-ingreso{
  min-height: 400px;
  max-height: 520px;
}

.contenedor-nuevo-usuario {
  height: 838px;
}

#ingreso,
#nuevo-usuario {
  background: -webkit-linear-gradient(left, white 0%, orange 100%);
  background-size: 600% 600%;
  //background: linear-gradient(185deg, #6c0e0e, #0f7f0e);
  //background-size: 400% 400%;
  height: 100%;
  padding-bottom: 50px;
  .administracion-button-bar button{
    margin-bottom: 20px;
  }


}


#nuevo-usuario-form {
  margin: auto;
  padding-top: 50px;
  align-items: center;
  max-width: 800px;
  padding-bottom: 30px;



  h1 {
    margin-bottom: 20px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: white;

  }
  span {
    margin-left: 5px;
    color: white;
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;

  }
  button {
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    background-color: white;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: black;
    padding: 5px;
    margin: .1px;
    align-items: center;
    outline: none;
    @media(max-width: 380px){
      margin: .1px;
    }

  }
  p {
    margin-bottom: 20px;
    color: white;
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-align: justify;

  }

  input {
    width: 300px;
    height: 20px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
    border-style: none;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    padding: 2px;

  }

}

.nuevo-usuario-input,
.administracion-input {
  margin-bottom: 20px;
}

.titulo-nuevos-proyectos{
  font-family: 'Droid Sans', sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
}

#ingreso-form {
  margin: auto;
  padding-top: 50px;
  align-items: center;
  max-width: 800px;

  h1 {
    margin-bottom: 20px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: white;

  }
  p {
    margin-bottom: 30px;
    color: white;
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;

  }

  span {
    margin-left: 5px;
    color: white;
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;

  }
  button {
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    background-color: white;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: black;
    padding: 5px;
    margin: 5px;
    align-items: center;
    outline: none;

  }

  input {
    width: 300px;
    height: 20px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
    border-style: none;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;

  }

}

#footer {
  background-color: white;
  height: 270px;
  width: 100%;

  h1 {
    font-family: 'Droid Sans', sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: #ff9900;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

  }

  h2 {
    text-align: center;
    font-family: "Droid Sans";
    font-size: 20px;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
  }

}


#footer h2:hover{

    font-weight: bold;
    color: darkorange;
    cursor: pointer;

}

#fondo-detalle-proyecto {
  background: -webkit-linear-gradient(bottom, black 20%, #18e21c 100%);
  background-size: 100% 100%;  width: 100%;
  margin-bottom: 30px;
  padding-bottom: 50px;
  height: 100%;
}

#proyecto {
  background-color: white;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  border: 2px solid rgb(73, 182, 122);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  padding: 10px;
  margin: auto;
  margin-bottom: 50px;
   #ac-progress-bar {
    opacity: .7;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.49);
  }

  span {
    font-family: "Droid Sans";
    font-size: 21px;
    color: black;
    width: 100%;

  }

}


.contenedor-proyecto-foto{
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 300px;
  margin-bottom:20px;
  vertical-align: middle;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
}


.foto-principal-seleccionada {
  height: 100%;
  vertical-align: middle;

}

#proyecto-container {
  text-align: center;
  margin: auto;
}

.titulo_proyecto_seleccionado {
  margin-top: 100px;
  background-color: red;
  width: 100%;
  color: white;
  padding: 10px 0 10px 0;
  font-size: 26px;
  text-align: center;
  margin-bottom: 50px;
}

.thumb {
  width: 18%;
  margin: 8px;

}

#proyecto-left {
  width: 60%;

}

#proyecto-rigth {
  width: 40%;
  margin:auto;
  padding: 10px;

  button {
    width: 67px;
    height: 42px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    background-color: rgb(0, 161, 72);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: white;
    padding: 5px;
    align-items: center;
    outline: none;
    margin-bottom: 27px;
    margin-right: 20px;
    margin-top: 20px;

  }

}

.resultados-clase{
}


#proyecto-upper {
  width: 100%;
  display: flex;

  @media(max-width: 600px){
    flex-wrap: wrap;
    flex-direction: column;

    #proyecto-thums{
      margin-top: 10px;
      margin-bottom: 10px;
         }

    #proyecto-left{
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    #proyecto-rigth{
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
    }

  }

}

#proyecto-comentarios textarea {
  width: 99%;

}

#proyecto-bottom p {
  font-family: 'Droid Sans', sans-serif;
  color: black;
  font-size: 25px;
  margin-bottom: 50px;
  margin-top: 50px;

}

#resultados{
  margin-top: 60px;
  background: rgb(180,227,145);
  background: -moz-linear-gradient(top,  rgb(180,227,145) 0%, rgb(97,196,25) 50%, rgb(180,227,145) 100%);
  background: -webkit-linear-gradient(top,  rgb(180,227,145) 0%,rgb(97,196,25) 50%,rgb(180,227,145) 100%);
  background: linear-gradient(to bottom,  rgb(180,227,145) 0%,rgb(97,196,25) 50%,rgb(180,227,145) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 );

}

#resultados h1{
  font-family: 'Droid Sans', sans-serif;
  color: white;
  font-size: 40px;
  margin: 20px;
}


